---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.lyrics.get?apikey=<MUSIX_MATCH_TOKEN>&track_id=124985077
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.12287402153015},"body":{"lyrics":{"lyrics_id":16284845,"explicit":0,"lyrics_body":"The
        club isn''t the best place to find a lover\nSo the bar is where I go\nMe and
        my friends at the table doing shots\nDrinking fast, and then we talk slow\n\nAnd
        you come over and start up a conversation with just me\nAnd trust me, I''ll
        give it a chance now\nTake my hand, stop\nPut \"Van the Man\" on the jukebox\nAnd
        then we start to dance\nAnd now I''m singing like\n\nGirl, you know I want
        your love\nYour love was handmade for somebody like me\nCome on now, follow
        my lead\nI may be crazy, don''t mind me\n\nSay: \"Boy, let''s not talk too
        much\nGrab on my waist and put that body on me\"\nCome on now, follow my lead\nCome,
        come on now, follow my lead\n\nI''m in love with the shape of you\nWe push
        and pull like a magnet do\nAlthough my heart is falling too\nI''m in love
        with your body\nLast night you were in my room\nAnd now my bed sheets smell
        like you\nEvery day discovering something brand new\n\nOh, I''m in love with
        your body\nOh-i-oh-i-oh-i-oh-i\nOh, I''m in love with your body\nOh-i-oh-i-oh-i-oh-i\nOh,
        I''m in love with your body\nOh-i-oh-i-oh-i-oh-i\n...\n\n******* This Lyrics
        is NOT for Commercial use *******\n(1409618830612)","script_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_js\/e_1\/sn_0\/l_16284845\/su_0\/rs_0\/tr_3vUCAFvMIYyyLpIJHFa5o8xjJkRr1jEc8AouY_yiLMMqx7khSRKDRqdyKjmwrbvW9UL6BJvHHFhUnRUma4tuvdR80J9jQP7_dQj3e4bvi8NdkUC9rgP3xxoHkGt97VxC2JINUfRnCnXWkjqxnoY_VS6Y0m7fate2uvUuzqz_rtxfGQ7I-PEFaIfZqfDbo-CbINeVE9XpFFlo3TvlJ8s6L9XyqBDN_GHZZH1PoT-Ny-SzF4Gpa6cJ6h-rcib9I2NcWcTpFyKPDixwYydx-gNsQKmSpAUUL-9ATdIl_HpRHj6wvjbnms2ucXCc49EAmQl4euOIQ_EtbyXr5RF0ynkvWiUsJQxMIeQ8s-c7AGc_LLtF_ReiGzJc-stDzuOepSHcBfFIj6nuw48IAmeDq67D4uS9TCJSfIkCnlqlvc4azsHiIqdgVjNvxHaKf1EmauK-HIUNXsvKHps\/","pixel_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_img\/e_1\/sn_0\/l_16284845\/su_0\/rs_0\/tr_3vUCACGD4KP9CFhTUaTmPr78LHiZVkT9DbCijaoTmGZEJKgBnXBddaVnBK0k8Zj98k7ykc21JwBP_5CsO8VfYn5LaBqp-qlwPPe_NSDBzEB4gcWfZdq1gjvZ58vxTIKM349yPcJZ8FJG6f2lM8nGIeQ6Rbj0hS7aUh28sT4h4GvGh4wGzWoBNMZ1UQ0KPqP6VLvhrHohKD9VVeFrgAIbLOS1vGpyMjHb8IH9EhaprFlmlF01xu42zrhN7RkMUx5AYOX1KXx6ocvzR9LSsxbtObeNwvIfNq57asPRrRyi30_7fkbAvR1fn-K3TeLxctNOyX276qwZPmbDxOocmqpgy6Ov19WHg9ShUUAbiUI6DeDWzH2JSMh8r0UsdnNnxkGjWZ02vlpevZ8H1a_Ve6Aa5DK4Atc1ZdFQv7_zVYNMlgI-VuTt2L04FnDjmrZFbCyFWv5QVMwGRmE\/","lyrics_copyright":"Lyrics
        powered by www.musixmatch.com. This Lyrics is NOT for Commercial use and only
        30% of the lyrics are returned.","updated_time":"2019-07-09T12:36:32Z"}}}}'
  recorded_at: Mon, 06 Jan 2020 18:51:01 GMT
recorded_with: VCR 5.0.0
