---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/chart.tracks.get?apikey=<MUSIX_MATCH_TOKEN>&f_has_lyrics=true&page=1&page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.23559594154358},"body":{"track_list":[{"track":{"track_id":177501051,"track_name":"Dance
        Monkey","track_name_translation_list":[],"track_rating":100,"commontrack_id":95351184,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":5745,"album_id":33595264,"album_name":"The
        Kids Are Coming","artist_id":37843472,"artist_name":"Tones and I","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Tones-and-I\/Dance-Monkey?utm_source=application&utm_campaign=api&utm_medium=babslabs%3A1409618830612","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/Tones-and-I\/Dance-Monkey\/edit?utm_source=application&utm_campaign=api&utm_medium=babslabs%3A1409618830612","restricted":0,"updated_time":"2019-08-29T13:37:16Z","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":20,"music_genre_parent_id":34,"music_genre_name":"Alternative","music_genre_name_extended":"Alternative","music_genre_vanity":"Alternative"}}]}}},{"track":{"track_id":190333863,"track_name":"Yummy","track_name_translation_list":[],"track_rating":100,"commontrack_id":105544714,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":308,"album_id":36270367,"album_name":"Yummy","artist_id":40664664,"artist_name":"Justin
        Bieber","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Justin-Bieber-3\/Yummy?utm_source=application&utm_campaign=api&utm_medium=babslabs%3A1409618[...]
