---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/chart.tracks.get?apikey=<MUSIX_MATCH_TOKEN>&f_has_lyrics=true&page=1&page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.20673584938049},"body":{"track_list":[{"track":{"track_id":190333863,"track_name":"Yummy","track_name_translation_list":[],"track_rating":100,"commontrack_id":105544714,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":352,"album_id":36270367,"album_name":"Yummy","artist_id":40664664,"artist_name":"Justin
        Bieber","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Justin-Bieber-3\/Yummy?utm_source=application&utm_campaign=api&utm_medium=Code+Songs%3A1409618832280","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/Justin-Bieber-3\/Yummy\/edit?utm_source=application&utm_campaign=api&utm_medium=Code+Songs%3A1409618832280","restricted":0,"updated_time":"2020-01-07T14:10:04Z","primary_genres":{"music_genre_list":[]}}},{"track":{"track_id":177501051,"track_name":"Dance
        Monkey","track_name_translation_list":[],"track_rating":100,"commontrack_id":95351184,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":5823,"album_id":33595264,"album_name":"The
        Kids Are Coming","artist_id":37843472,"artist_name":"Tones and I","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Tones-and-I\/Dance-Monkey?utm_source=application&utm_campaign=api&utm_medium=Code+Songs%3A1409618832280","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/Tones-and-I\/Dance-Monkey\/edit?utm_source=application&utm_campaign=api&utm_medium=Code+Songs%3A1409618832280","restricted":0,"updated_time":"2019-08-29T13:37:16Z","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":20,"music_genre_parent_id":34,"music_genre_name":"Alternative","music_genre_name_extended":"Alternative","music_genre_vanity":"Alternative"}}]}}},{"track":{"track_id":184014421,"track_name":"Memories","track_name_translation_list":[],"track_rating":100,"commontrack_id":100364992,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":6941,"album_id":34887164,"album_name":"Memories
        - Single","artist_id":27840,"artist_name":"Maroon 5","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Maroon-5\/Memories?utm_source=application&utm_campaign=api&utm_medium=Code+Songs%3A1[...]
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.lyrics.get?apikey=<MUSIX_MATCH_TOKEN>&track_id=190333863
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.089884042739868},"body":{"lyrics":{"lyrics_id":20251112,"explicit":0,"lyrics_body":"Yeah,
        you got that yummy-yum\nThat yummy-yum, that yummy-yummy\nYeah, you got that
        yummy-yum\nThat yummy-yum, that yummy-yummy\nSay the word, on my way\nYeah
        babe, yeah babe, yeah babe\nAny night, any day\nSay the word, on my way\nYeah
        babe, yeah babe, yeah babe\nIn the mornin'' or the late\nSay the word, on
        my way\n\nBonafide stallion\nAin''t in no stable, no, you stay on the run\nAin''t
        on the side, you''re number one\nYeah, every time I come around, you get it
        done\n\nFifty-fifty, love the way you split it\nHundred racks, help me spend
        it, babe\nLight a match, get litty, babe\nThat jet set, watch the sunset kinda,
        yeah, yeah\nRollin'' eyes back in my head, make my toes curl, yeah, yeah\n\nYeah,
        you got that yummy-yum\nThat yummy-yum, that yummy-yummy\n...\n\n******* This
        Lyrics is NOT for Commercial use *******\n(1409618832280)","script_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_js\/e_1\/sn_0\/l_20251112\/su_0\/rs_0\/tr_3vUCAGNfnF4SsJMUOVpvvL_JC7NL7x5IcSAbLqvBtWvHufwVIbsv5K5zkjUfV2doZbV0g5nn9hAtTT3_D9uDpaFmEoj8Gy-qYe5geYFEI07_ZOC3gQtvHqQxVJwNyooaohUxs10jG4XOpJAMmYiwITVGduvIBkj6QBeXismU26-XmpbbM_G5WU-87rKCk3iDT9Lww5up-uScKnQmclBrE-Ugl3P8qOEdYNUMphmVQDb6JcAWQsEzYhjItx4rQCshnHXVafzCoKoP6Co4R5Pfz8_KbR5hEBSfZon3RCNno3QD-Uq7SQmtpJlfCRjlZ2rS6lOfdgbV-4bWGFQNy6Pkl6I8uGFDP2ffXGbaxuQcND9tL9Mt-QM6oMSBiCXh8R8edqCpdcSFhT3tsIvQy2SdJIwQ6CzERBUL39Y0FKHZIryJuKjzVjK38yhFTKa4V6de27CP\/","pixel_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_img\/e_1\/sn_0\/l_20251112\/su_0\/rs_0\/tr_3vUCADWfuR2GdDqIONRH6Pbe3LWflxDHoBps7afFg2cE8MHoymbHBfQJpKdhaLrfGbEFunGuX3bqbOjesKElPEi_kOaURzzfTtK_9tIwCD-JlN5Hhs0j8DOQtc1IFPjWmxdjtTgoXiWyE5Z5-S2ZJhNNs-JcDnRG-YOG7z1qWdD8GQs7SZYXvmuZBRacIzJ1t71_59YM0SbLs-mdhUNQc_zD9YTSXDm5YF-pOxdLFSo5q6NhrmdKXdy3bkSNglW4KZQoQmLpP1zNt8oBnfzyfyFpHmRgZWgjugRCjKYM0ojMh-nfsre_IpE3K_h9lmIAMEfGFW1wVgbmXR_4LqrFn55hZgQH_SkrgX3HSdHaqMHkK02TiXgQCwP90jNzDE8MVezptfeWjr861wnpDkkR4N7oJKC8J8RNG5G12GJCTs6NgFcXcfbnclob8jD9VUneFn5x\/","lyrics_copyright":"Lyrics
        powered by www.musixmatch.com. This Lyrics is NOT for Commercial use and only
        30% of the lyrics are returned.","updated_time":"2020-01-07T14:10:04Z"}}}}'
  recorded_at: Thu, 09 Jan 2020 20:59:13 GMT
- request:
    method: post
    uri: https://api.us-south.tone-analyzer.watson.cloud.ibm.com/instances/<WATSON_INSTANCE>/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: |-
        Yeah, you got that yummy-yum
        That yummy-yum, that yummy-yummy
        Yeah, you got that yummy-yum
        That yummy-yum, that yummy-yummy
        Say the word, on my way
        Yeah babe, yeah babe, yeah babe
        Any night, any day
        Say the word, on my way
        Yeah babe, yeah babe, yeah babe
        In the mornin' or the late
        Say the word, on my way

        Bonafide stallion
        Ain't in no stable, no, you stay on the run
        Ain't on the side, you're number one
        Yeah, every time I come around, you get it done

        Fifty-fifty, love the way you split it
        Hundred racks, help me spend it, babe
        Light a match, get litty, babe
        That jet set, watch the sunset kinda, yeah, yeah
        Rollin' eyes back in my head, make my toes curl, yeah, yeah

        Yeah, you got that yummy-yum
        That yummy-yum, that yummy-yummy
        ...(1409618832280)
    headers:
      Authorization:
      - Basic YXBpa2V5OjhNSjVBcGI0cnBtQ0ZQMGdDNlF1QUdrOEZlNWNrejBjVlRrb0RzRWhjUjhE
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service-Api-Version:
      - null; 2017-09-21
      X-Service-Build-Number:
      - '2020-01-06T06:04:45'
      Content-Language:
      - en-US
      X-Global-Transaction-Id:
      - bc13f917444fdb2783a11c92ea8813a1
      X-Dp-Watson-Tran-Id:
      - bc13f917444fdb2783a11c92ea8813a1
      X-Edgeconnect-Midmile-Rtt:
      - '1'
      X-Edgeconnect-Origin-Mex-Latency:
      - '287'
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tones":[{"score":0.938401,"tone_id":"joy","tone_name":"Joy"},{"score":0.768103,"tone_id":"tentative","tone_name":"Tentative"}]},"sentences_tone":[{"sentence_id":0,"text":"Yeah,
        you got that yummy-yum","tones":[{"score":0.96946,"tone_id":"joy","tone_name":"Joy"}]},{"sentence_id":1,"text":"That
        yummy-yum, that yummy-yummy","tones":[{"score":0.969733,"tone_id":"joy","tone_name":"Joy"}]},{"sentence_id":2,"text":"Yeah,
        you got that yummy-yum","tones":[{"score":0.96946,"tone_id":"joy","tone_name":"Joy"}]},{"sentence_id":3,"text":"That
        yummy-yum, that yummy-yummy","tones":[{"score":0.969733,"tone_id":"joy","tone_name":"Joy"}]},{"sentence[...]
[...]
