---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ap2322/battleship/commits?access_token=<GITHUB_TEST_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1578550550'
      Etag:
      - W/"89e80e901b06dc96007e9a7d1f9110cd"
      Last-Modified:
      - Thu, 29 Aug 2019 00:24:05 GMT
      X-Oauth-Scopes:
      - public_repo, read:user, repo:status
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/203263628/commits?access_token=<GITHUB_TEST_TOKEN>&page=2>;
        rel="next", <https://api.github.com/repositories/203263628/commits?access_token=<GITHUB_TEST_TOKEN>&page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"d64692f5ebd125c807f9c1d60994e53d02ea118f","node_id":"MDY6Q29tbWl0MjAzMjYzNjI4OmQ2NDY5MmY1ZWJkMTI1YzgwN2Y5YzFkNjA5OTRlNTNkMDJlYTExOGY=","commit":{"author":{"name":"Alice
        Post","email":"alicep2322@gmail.com","date":"2019-08-29T00:24:05Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2019-08-29T00:24:05Z"},"message":"Merge
        pull request #24 from ap2322/cleanup_ap2\n\nClean up comments and confusing
        variable names","tree":{"sha":"ab5b022e749c236734a36fbebf246fa5ce2cbc28","url":"https://api.github.com/repos/ap2322/battleship/git/trees/ab5b022e749c236734a36fbebf246fa5ce2cbc28"},"url":"https://api.github.com/repos/ap2322/battleship/git/commits/d64692f5ebd125c807f9c1d60994e53d02ea118f","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJdZxslCRBK7hj4Ov3rIwAAdHIIAE0RTGzE21uALfVwfPJiAwZL\n6hAVC8Dl76eO7eliaMWsLqSlOBZmLWEhqcb9oNxLU3kd6vosiyzq152x3DDqiqKE\nQoAkvbEMrTThndx51281we5/vUg5bdV4VVzQZJuWt5KVq76V2p/QHZlonr4AWp0f\nKq4arITPw1xrfio0cLkvrdzG4P08FBiITCYfffrbBhuo7fqSvkCsJoI6V3lJikxO\nW4j5HCoNf72+reC/KcqANKiXdHYPI/W0qhYfivtA5Co/Jge24EUIYAgzygBm6phd\nI0IKMu31SOrppJvrByRf7osbOnwSSIwaUrDvov9n9RB+glmxiFevpcHtIHZZzfM=\n=mTop\n-----END
        PGP SIGNATURE-----\n","payload":"tree ab5b022e749c236734a36fbebf246fa5ce2cbc28\nparent
        e90a85aabafb218a686da828b92be84df063bf02\nparent 305666366d7435eceb3a476f3ca9870e92053aeb\nauthor
        Alice Post <alicep2322@gmail.com> 1567038245 -0600\ncommitter GitHub <noreply@github.com>
        1567038245 -0600\n\nMerge pull request #24 from ap2322/cleanup_ap2\n\nClean
        up comments and confusing variable names"}},"url":"https://api.github.com/repos/ap2322/battleship/commits/d64692f5ebd125c807f9c1d60994e53d02ea118f","html_url":"https://github.com/ap2322/battleship/commit/d64692f5ebd125c807f9c1d60994e53d02ea118f","comments_url":"https://api.github.com/repos/ap2322/battleship/commits/d64692f5ebd125c807f9c1d60994e53d02ea118f/comments","author":{"login":"ap2322","id":26877629,"node_id":"MDQ6VXNlcjI2ODc3NjI5","avatar_url":"https://avatars0.githubusercontent.com/u/26877629?v=4","gravatar_id":"","url":"https://api.github.com/users/ap2322","html_url":"https://github.com/ap2322","followers_url":"https://api.github.com/users/ap2322/followers","following_url":"https://api.github.com/users/ap2322/following{/other_user}","gists_url":"https://api.github.com/users/ap2322/gists{/gist_id}","starred_url":"https://api.github.com/users/ap2322/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ap2322/subscriptions","organizations_url":"https://api.github.com/users/ap2322/orgs","repos_url":"https://api.github.com/users/ap2322/repos","events_url":"https://api.github.com/users/ap2322/events{/privacy}","received_events_url":"https://api.github.com/users/ap2322/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars3.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"e90a85aabafb218a686da828b92be84df063bf02","url":"https://api.github.com/repos/ap2322/battleship/commits/e90a85aabafb218a686da828b92be84df063bf02","html_url":"https://github.com/ap2322/battleship/commit/e90a85aabafb218a686da828b92be84df063bf02"},{"sha":"305666366d7435eceb3a476f3ca9870e92053aeb","url":"https://api.github.com/repos/ap2322/battleship/commits/305666366d7435eceb3a476f3ca9870e92053aeb","html_url":"https://github.com/ap2322/battleship/commit/305666366d7435eceb3a476f3ca9870e9205[...]
- request:
    method: post
    uri: https://api.us-south.tone-analyzer.watson.cloud.ibm.com/instances/<WATSON_INSTANCE>/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: 'Merge pull request #24 from ap2322/cleanup_ap2Clean up comments and
        confusing variable names. Clean up comments and confusing variable names.
        Comment out custom board tests. Merge pull request #23 from ap2322/cleanup_ap1Method
        calls instead of @instances in ship and cell classes. Method calls instead
        of @instances in ship and cell classes. Merge pull request #22 from ap2322/intelligent_comp[...]
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.search?apikey=<MUSIX_MATCH_TOKEN>&f_artist_id=38620990&f_has_lyrics=true&page=1&page_size=5&s_track_rating=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.015103101730347,"available":283},"body":{"track_list":[{"track":{"track_id":124985077,"track_name":"Shape
        of You","track_name_translation_list":[],"track_rating":99,"commontrack_id":69032569,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":56475,"album_id":25422950,"album_name":"\u00f7
        (Deluxe)","artist_id":38620990,"artist_name":"Ed Sheeran","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Ed-Sheeran\/Shape-of-You?utm_source=application&utm_campaign=api&utm_medium=Code+Songs%3A1409618832280","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/Ed-Sheeran\/Shape-of-You\/edit?utm_source=application&utm_campaign=api&utm_medium=Code+Songs%3A1409618832280","restricted":0,"updated_time":"2019-05-29T08:30:02Z","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":1048,"music_genre_parent_id":17,"music_genre_name":"House","music_genre_name_extended":"Dance
        \/ House","music_genre_vanity":"Dance-House"}},{"music_genre":{"music_genre_id":1183,"music_genre_parent_id":24,"music_genre_name":"Dancehall","music_genre_name_extended":"Reggae
        \/ Dancehall","music_genre_vanity":"Reggae-Dancehall"}},{"music_genre":{"music_genre_id":14,"music_genre_parent_id":34,"music_genre_name":"Pop","music_genre_name_extended":"Pop","music_genre_vanity":"Pop"}},{"music_genre":{"music_genre_id":17,"music_genre_parent_id":34,"music_genre_name":"Dance","music_genre_name_extended":"Dance","music_genr[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_API_TOKEN>&maxResults=1&order=relevance&part=snippet&q=&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"p4VTdlkQv3HQeTEaXgvLePAydmU/1ZlWptILGlLiwn9xQS4SID7tFKk"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/1ZlWptILGlLiwn9xQS4SID7tFKk\"",
         "nextPageToken": "CAEQAA",
         "regionCode": "US",
         "pageInfo": {
          "totalResults": 1000000,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/nJQm3YL18Q_9od3e-YxEDt9YDIM\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "kx7P_ENnDPE"
           },
           "snippet": {
            "publishedAt": "2019-12-30T20:00:06.000Z",
            "channelId": "UClRx3MMyYUyqOxyEqA5F2nQ",
            "title": "JACKBOYS, Pop Smoke, Travis Scott - GATTI (Official Video)",
            "description": "JACKBOYS OUT NOW: https://JACKBOYS.lnk.to/JACKBOYS OFFICIAL STORE: https://JACKBOYS.travisscott.com/ Directed by CACTUS JACK & WHITE TRASH ...",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/kx7P_ENnDPE/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/kx7P_ENnDPE/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/kx7P_ENnDPE/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "TravisScottVEVO",
            "liveBroadcastContent": "none"
           }
          }
         ]
        }
  recorded_at: Thu, 09 Jan 2020 05:15:51 GMT
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.lyrics.get?apikey=<MUSIX_MATCH_TOKEN>&track_id=124985077
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.12877488136292},"body":{"lyrics":{"lyrics_id":16284845,"explicit":0,"lyrics_body":"The
        club isn''t the best place to find a lover\nSo the bar is where I go\nMe and
        my friends at the table doing shots\nDrinking fast, and then we talk slow\n\nAnd
        you come over and start up a conversation with just me\nAnd trust me, I''ll
        give it a chance now\nTake my hand, stop\nPut \"Van the Man\" on the jukebox\nAnd
        then we start to dance\nAnd now I''m singing like\n\nGirl, you know I want
        your love\nYour love was handmade for somebody like me\nCome on now, follow
        my lead\nI may be crazy, don''t mind me\n\nSay: \"Boy, let''s not talk too
        much\nGrab on my waist and put that body on me\"\nCome on now, follow my lead\nCome,
        come on now, follow my lead\n\nI''m in love with the shape of you\nWe push
        and pull like a magnet do\nAlthough my heart is falling too\nI''m in love
        with your body\nLast night you were in my room\nAnd now my bed sheets smell
        like you\nEvery day discovering something brand new\n\nOh, I''m in love with
        your body\nOh-i-oh-i-oh-i-oh-i\nOh, I''m in love with your body\nOh-i-oh-i-oh-i-oh-i\nOh,
        I''m in love with your body\nOh-i-oh-i-oh-i-oh-i\n...\n\n******* This Lyrics
        is NOT for Commercial use *******\n(1409618832280)","script_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_js\/e_1\/sn_0\/l_16284845\/su_0\/rs_0\/tr_3vUCAH2-o73eu94j5Jy6Sf7771M-MhzKTQYvKOK4w87WsypEOQKHQZCVrkg9a3beeC6bslS_-rpEFrojnVJt-cKIu61RmN-FrNPu02i-uSMl_OoQXVm1PEi-PUklbWUOkkdbuPbGXsNEQ-IOw-GnkqusvjWjGyUOxbRFufkrmmgi2tx2mJSj1J0DWzToNRi6uGy9jS-cR75uDqKC0PVUwTpgbmpueXtCRQF5jn-rNQ7c4KRjL-zH5Fpy--e_va2vFTdtBTkc4uDZbp3Vj53bdpnOKMASl96FSMop2bUAvu-3ohPzwMZVMye8Q8VRsM2MU44RXodhSHHzjCpx4cYE7GpwRVfqDMzUZvsFqOlGAPhaKFLtbPfGyOkPr-QMeWbGeYouzHW_1PjuAiL0Za1CqTNb9qN2T1S6pJHsLm8v8vnzlBTYlVk4CdXYjBshhDXuBfQeCT9wG443\/","pixel_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_img\/e_1\/sn_0\/l_16284845\/su_0\/rs_0\/tr_3vUCAB6CJ7jSFnetFsTzK6TNsTZB-i8wH09xnWhcbm98r0FfGwF5vVMmPqWVx0W5AuhWfP5t5kHm43_kw5wMgfYCs2huwKdiSSzfg2V5_9qs76fGZtBq-v73Nkf28i-l-3VT78jv3RJdbUemfz9DiK3_IQlY7yakIcsaW2VzVRJmdLUAuxEI7BSghMbz4zreaFvOlRrM6zLvBxgd9CG8CTD7ippKN5nTsshk2pJ8l4CtcHDl5fp8PZaUpnvzE63ODLouQx_gFe0_C6ZZ87q21HfWzH59jIcIgBeugsR6C0YReTL6b0ZU7z6-H_XrscxVEmTz6XJf9CLEC-R-0as_orwGfSbifrCpPjNEUfAUloh0__cSWv1uWpO9nLLqPnZBsQnPKpLhf7-ro0yKeXg6SLAJCSWoh9BENASJAinqHsfQHhSet3EZOk9XN5b7A0BMnWgmBdA5uy0A\/","lyrics_copyright":"Lyrics
        powered by www.musixmatch.com. This Lyrics is NOT for Commercial use and only
        30% of the lyrics are returned.","updated_time":"2019-07-09T12:36:32Z"}}}}'
  recorded_at: Thu, 09 Jan 2020 05:15:52 GMT
- request:
    method: post
    uri: https://api.us-south.tone-analyzer.watson.cloud.ibm.com/instances/<WATSON_INSTANCE>/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: |-
        The club isn't the best place to find a lover
        So the bar is where I go
        Me and my friends at the table doing shots
        Drinking fast, and then we talk slow

        And you come over and start up a conversation with just me
        And trust me, I'll give it a chance now
        Take my hand, stop
        Put "Van the Man" on the jukebox
        And then we start to dance
        And now I'm singing like

        Girl, you know I want your love
        Your love was handmade for somebody like me
        Come on now, follow my lead
        I may be crazy, don't mind me

        Say: "Boy, let's not talk too much
        Grab on my waist and put that body on me"
        Come on now, follow my lead
        Come, come on now, follow my lead

        I'm in love with the shape of you
        We push and pull like a magnet do
        Although my heart is falling too
        I'm in love with your body
        Last night you were in my room
        And now my bed sheets smell like you
        Every day discovering something brand new

        Oh, I'm in love with your body
        Oh-i-oh-i-oh-i-oh-i
        Oh, I'm in love with your body
        Oh-i-oh-i-oh-i-oh-i
        Oh, I'm in love with your body
        Oh-i-oh-i-oh-i-oh-i
        ...(1409618832280)
    headers:
      Authorization:
      - Basic YXBpa2V5OjhNSjVBcGI0cnBtQ0ZQMGdDNlF1QUdrOEZlNWNrejBjVlRrb0RzRWhjUjhE
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service-Api-Version:
      - null; 2017-09-21
      X-Service-Build-Number:
      - '2020-01-06T06:04:45'
      Content-Language:
      - en-US
      X-Global-Transaction-Id:
      - 9c5c1d3135f2b565bdc2f7c52485d467
      X-Dp-Watson-Tran-Id:
      - 9c5c1d3135f2b565bdc2f7c52485d467
      X-Edgeconnect-Midmile-Rtt:
      - '3'
      X-Edgeconnect-Origin-Mex-Latency:
      - '365'
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tones":[{"score":0.754031,"tone_id":"joy","tone_name":"Joy"},{"score":0.767326,"tone_id":"tentative","tone_name":"Tentative"}]},"sentences_tone":[{"sentence_id":0,"text":"The
        club isn''t the best place to find a lover","tones":[{"score":0.563139,"tone_id":"joy","tone_name":"Joy"},{"score":0.687768,"tone_id":"analytical","tone_name":"Analytical"}]},{"sentence_id":1,"text":"So
        the bar is where I go","tones":[{"score":0.636466,"tone_id":"sadness","tone_name":"Sadness"}]},{"sentence_id":2,"text":"Me
        and my friends at the table doing shots","tones":[]},{"sentence_id":3,"text":"Drinking
        fast, and then we talk slow","tones":[{"score":0.6[...]
[...]
