---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.lyrics.get?apikey=<MUSIX_MATCH_TOKEN>&track_id=32130011
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.045905828475952},"body":{"lyrics":{"lyrics_id":20292097,"explicit":0,"lyrics_body":"Uh-huh,
        uh-huh (Yeah, Rihanna)\nUh-huh, uh-huh (Good girl, gone bad)\nUh-huh, uh-huh
        (Take three, action)\nUh-huh, uh-huh (Hov)\n\nNo clouds in my stones\nLet
        it rain, I hydroplane in the bank\nComin'' down like the Dow Jones\nWhen the
        clouds come, we gone\nWe Roc-A-Fellas\nWe fly higher than weather\nIn G5''s
        or better\n\nYou know me (You know me)\nIn anticipation for precipitation\nStack
        chips for the rainy day\nJay, Rain Man is back, with Little Miss Sunshine\nRihanna,
        where you at?\n\nYou have my heart\nAnd we''ll never be worlds apart\nMaybe
        in magazines\nBut you''ll still be my star\nBaby, ''cause in the dark\nYou
        can''t see shiny cars\nAnd that''s when you need me there\nWith you, I''ll
        always share\nBecause\n\nWhen the sun shine, we shine together\nTold you I''ll
        be here forever\nSaid I''ll always be your friend\nTook an oath, I''ma stick
        it out to the end\nNow that it''s raining more than ever\nKnow that we''ll
        still have each other\nYou can stand under my umbrella\n...\n\n******* This
        Lyrics is NOT for Commercial use *******\n(1409618905462)","script_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_js\/e_1\/sn_0\/l_20292097\/su_0\/rs_0\/tr_3vUCAOn_4T37NWvXslHGG03hb51dOVnpzNbntZfVU6qQng-Fq291APpOhRoHjxthX3pSrAoeD26D3a0hSxUih9jH6sL8VFTkw6i4v53yRYG5V94MXTAZLm1ZpEjB1KG2ZGc5inFucQrOLWs_Q1yTq5U6UPz7tirm2jY_hBgfT9hbAHqSw5Dvzf2N-RuNZajH2N_mIo5lOvdTfvt75rAcedRFiLCpIVZF_nZfPRM6Grf1jk873J2pCntSAlcTYfTjrDSmWKYsbuu9-HtNT1XphwlXNpK-rLUvFecpJUbjxQPS0b9eKL6jBnUP4_KXWAN2cz4jqD3RqU_t5iQeHuzgm_xKDpuAS49KKdCY7nQu-i8VtwnYz-ROiEnR7tJhDxxseIXSqEBeNVxmoNiAw4G6lKoJ8DSwHdHvpr6PBtDtHUY7JFLb-ryGAHdu9Q\/","pixel_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_img\/e_1\/sn_0\/l_20292097\/su_0\/rs_0\/tr_3vUCAP6Z22MkZ5eTPhPdlmixBetRNsGTEkk_eBzVz7psJZIda1OrUI8P8B0JRHqMfxhpbwvu76mv7QsUoQy3MhGQV0xQdS8ppVKYA4tQH_6VO-7RbB9JsQsiF-IQeaG3vD_C_as47PzP_tff0NRqK8P_YfOBburME9KlPWysNE1qLBY9L-YEMEh523ovN_-qeYWHIYIwF5er6I2KR6HA-wo1ggwd2DCgM8BEoEcbFSotuYgRtFzXD9UL_yRU9Jpzl_N-MpX9_8ImZfsNhawl1o9vQjeuBv6l5K18pTn4rX0wiM-rB4VYAAx6EJHaJPEkKFjk4HRbutV7PWSU_VXrTcmFvWSxH2telkpFVws3sfqf_aC9boyvgTlSh0H6XXOY5Jg4Bbik2rHTKSHl_2kz_HfuksSP7MYQnw6_skstbBpkQyjxfOaogToZ0g\/","lyrics_copyright":"Lyrics
        powered by www.musixmatch.com. This Lyrics is NOT for Commercial use and only
        30% of the lyrics are returned.","updated_time":"2020-01-08T08:12:42Z"}}}}'
  recorded_at: Thu, 14 May 2020 20:15:02 GMT
recorded_with: VCR 5.0.0
