---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.lyrics.get?apikey=<MUSIX_MATCH_TOKEN>&track_id=32130011
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.12148094177246},"body":{"lyrics":{"lyrics_id":20292097,"explicit":0,"lyrics_body":"Uh-huh,
        uh-huh (Yeah, Rihanna)\nUh-huh, uh-huh (Good girl, gone bad)\nUh-huh, uh-huh
        (Take three, action)\nUh-huh, uh-huh (Hov)\n\nNo clouds in my stones\nLet
        it rain, I hydroplane in the bank\nComin'' down like the Dow Jones\nWhen the
        clouds come, we gone\nWe Roc-A-Fellas\nWe fly higher than weather\nIn G5''s
        or better\n\nYou know me (You know me)\nIn anticipation for precipitation\nStack
        chips for the rainy day\nJay, Rain Man is back, with Little Miss Sunshine\nRihanna,
        where you at?\n\nYou have my heart\nAnd we''ll never be worlds apart\nMaybe
        in magazines\nBut you''ll still be my star\nBaby, ''cause in the dark\nYou
        can''t see shiny cars\nAnd that''s when you need me there\nWith you, I''ll
        always share\nBecause\n\nWhen the sun shine, we shine together\nTold you I''ll
        be here forever\nSaid I''ll always be your friend\nTook an oath, I''ma stick
        it out to the end\nNow that it''s raining more than ever\nKnow that we''ll
        still have each other\nYou can stand under my umbrella\n...\n\n******* This
        Lyrics is NOT for Commercial use *******\n(1409618832280)","script_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_js\/e_1\/sn_0\/l_20292097\/su_0\/rs_0\/tr_3vUCAJ_3zzEBPn4PO28Gq22qpiI03zhuGpW_BMnjTXRQCcUeJlAXEFNbLB4dl2Svb1rmzgt025rvhCUVBBH1VNVDe7ggH0QKhDVzvoPct4VtUexmuxwhohUa51SBvCvTHTfz4seD5CytBR9F_IQX7JxQFn9-Ya8S_ttxTx_g-uQH-lIeS6gg-kKFjYci54w1jjRNnBizxh4iQYdYUiuqolNdebP5TJDCFAGwNwEA7K5sjkTL-sLvOfFnO-Xt5wbehNhg8eS-ognCdH27CVmRG-qosVCOeR-Ay9BJ4hekvcJ7jArBYMb9TLD7hteefDKM3jgHGjHXMPPe8nGkh9PEFGBlhBvGqY6b3TN-ihxU-LXh07Q2s164OMkGB5Nh7laxTvVMXGQ8eix8Gy3d9F5ATxdZiOiZ4dX7ecccifqySN1eq8yvii--6JOx-LHw\/","pixel_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_img\/e_1\/sn_0\/l_20292097\/su_0\/rs_0\/tr_3vUCAFaG4aQnvi596oecgpn9tJ-2NO7cut0gXCYn_mtozcNaj2eqx8b4oX1MeE2zXepWsn-uMk1oLwkdwHo7GbhgQAnOJQhjC_pQxMFatSOc1XFkQwowiKtKXg37CXo_YpBBCYllKqvYrvvFd65zM-4ZhnhOnKej1JCrwsDkaU84VwUoaRAqNifQ_8hBvJfQWt-KbW9YHGnEQ51HBAM74PvjH3X17mw9o0cdKPvceOFrDUmsymhzLvK2ZdnB8gD8ycqWHfU8WtpPNWg8ixi0susY89lKXZ8UfqtHAp-7FWq8uv9Kg7eufXLxK7rfYwSvtmbpKB-p-NwLoqiN5FTu0Bi2tGmqEenu-24sw3bdOqyUws--ufMIvrkANt307DUdAJc61Bar46zwnm9ZYBbYABmtjG1Mx9gUmPyH7XNVEUMda5PuMa8MknP1Jvhs\/","lyrics_copyright":"Lyrics
        powered by www.musixmatch.com. This Lyrics is NOT for Commercial use and only
        30% of the lyrics are returned.","updated_time":"2020-01-08T08:12:42Z"}}}}'
  recorded_at: Wed, 08 Jan 2020 18:14:30 GMT
- request:
    method: post
    uri: https://api.us-south.tone-analyzer.watson.cloud.ibm.com/instances/<WATSON_INSTANCE>/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: |-
        Uh-huh, uh-huh (Yeah, Rihanna)
        Uh-huh, uh-huh (Good girl, gone bad)
        Uh-huh, uh-huh (Take three, action)
        Uh-huh, uh-huh (Hov)

        No clouds in my stones
        Let it rain, I hydroplane in the bank
        Comin' down like the Dow Jones
        When the clouds come, we gone
        We Roc-A-Fellas
        We fly higher than weather
        In G5's or better

        You know me (You know me)
        In anticipation for precipitation
        Stack chips for the rainy day
        Jay, Rain Man is back, with Little Miss Sunshine
        Rihanna, where you at?

        You have my heart
        And we'll never be worlds apart
        Maybe in magazines
        But you'll still be my star
        Baby, 'cause in the dark
        You can't see shiny cars
        And that's when you need me there
        With you, I'll always share
        Because

        When the sun shine, we shine together
        Told you I'll be here forever
        Said I'll always be your friend
        Took an oath, I'ma stick it out to the end
        Now that it's raining more than ever
        Know that we'll still have each other
        You can stand under my umbrella
        ...(1409618832280)
    headers:
      Authorization:
      - Basic YXBpa2V5OjhNSjVBcGI0cnBtQ0ZQMGdDNlF1QUdrOEZlNWNrejBjVlRrb0RzRWhjUjhE
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service-Api-Version:
      - null; 2017-09-21
      X-Service-Build-Number:
      - '2020-01-06T06:04:45'
      Content-Language:
      - en-US
      X-Global-Transaction-Id:
      - 0c64c9e6514286adb1907830bf6d3035
      X-Dp-Watson-Tran-Id:
      - 0c64c9e6514286adb1907830bf6d3035
      X-Edgeconnect-Midmile-Rtt:
      - '3'
      X-Edgeconnect-Origin-Mex-Latency:
      - '370'
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tones":[{"score":0.679107,"tone_id":"joy","tone_name":"Joy"},{"score":0.515846,"tone_id":"confident","tone_name":"Confident"}]},"sentences_tone":[{"sentence_id":0,"text":"Uh-huh,
        uh-huh (Yeah, Rihanna)","tones":[]},{"sentence_id":1,"text":"Uh-huh, uh-huh
        (Good girl, gone bad)","tones":[]},{"sentence_id":2,"text":"Uh-huh, uh-huh
        (Take three, action)","tones":[]},{"sentence_id":3,"text":"Uh-huh, uh-huh
        (Hov)","tones":[]},{"sentence_id":4,"text":"","tones":[]},{"sentence_id":5,"text":"No
        clouds in my stones","tones":[]},{"sentence_id":6,"text":"Let it rain, I hydroplane
        in the bank","tones":[]},{"sentence_id":7,"text"[...]
