---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.search?apikey=<MUSIX_MATCH_TOKEN>&f_artist_id=136&f_has_lyrics=true&page=1&page_size=5&s_track_rating=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.012777090072632,"available":1283},"body":{"track_list":[{"track":{"track_id":139906958,"track_name":"Tiny
        Dancer - Remastered","track_name_translation_list":[],"track_rating":80,"commontrack_id":81177515,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":20,"album_id":27397759,"album_name":"Diamonds
        (Deluxe)","artist_id":136,"artist_name":"Elton John","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Elton-John\/Tiny-Dancer-Remastered?utm_source=application&utm_campaign=api&utm_medium=Code+Songs%3A1409618832280","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/Elton-John\/Tiny-Dancer-Remastered\/edit?utm_source=application&utm_campaign=api&utm_medium=Code+Songs%3A1409618832280","restricted":0,"updated_time":"2019-06-04T13:18:10Z","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":14,"music_genre_parent_id":34,"music_genre_name":"Pop","music_genre_name_extended":"Pop","music_genre_vanity":"Pop"}}]}}},{"track":{"track_id":139906965,"track_name":"Candle
        In The Wind - Remastered","track_name_translation_list":[],"track_rating":76,"commontrack_id":81177491,"instrumental":0,"explicit":1,"has_lyrics":1,"has_subtitles":1,"has_richsync":0,"num_favourite":4,"album_id":27397759,"album_name":"Diamonds
        (Deluxe)","artist_id":136,"artist_name":"Elton John","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Elton-John\/Candle-In-the-Wind-Remastered?utm_source=application&u[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_API_TOKEN>&maxResults=1&order=relevance&part=snippet&q=&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"p4VTdlkQv3HQeTEaXgvLePAydmU/1ZlWptILGlLiwn9xQS4SID7tFKk"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/1ZlWptILGlLiwn9xQS4SID7tFKk\"",
         "nextPageToken": "CAEQAA",
         "regionCode": "US",
         "pageInfo": {
          "totalResults": 1000000,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/nJQm3YL18Q_9od3e-YxEDt9YDIM\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "kx7P_ENnDPE"
           },
           "snippet": {
            "publishedAt": "2019-12-30T20:00:06.000Z",
            "channelId": "UClRx3MMyYUyqOxyEqA5F2nQ",
            "title": "JACKBOYS, Pop Smoke, Travis Scott - GATTI (Official Video)",
            "description": "JACKBOYS OUT NOW: https://JACKBOYS.lnk.to/JACKBOYS OFFICIAL STORE: https://JACKBOYS.travisscott.com/ Directed by CACTUS JACK & WHITE TRASH ...",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/kx7P_ENnDPE/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/kx7P_ENnDPE/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/kx7P_ENnDPE/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "TravisScottVEVO",
            "liveBroadcastContent": "none"
           }
          }
         ]
        }
  recorded_at: Thu, 09 Jan 2020 03:31:59 GMT
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.lyrics.get?apikey=<MUSIX_MATCH_TOKEN>&track_id=139906958
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.061742067337036},"body":{"lyrics":{"lyrics_id":19248072,"explicit":0,"lyrics_body":"Blue
        Jean Baby\nL.A. Lady, seamstress for the band\nPretty eyed, pirate smile\nYou''ll
        marry a music man\n\nBallerina, you must have seen her\nDancing in the sand\nNow
        she''s in me, always with me\nTiny dancer in my hand\n\nJesus freaks, out
        in the street\nHanding tickets out for God\nTurning back, she just laughs\nThe
        boulevard is not that bad\n\nPiano man he makes his stand\nIn the auditorium\nLooking
        on, she sings the songs\nThe words she knows, tune she hums\n\n...\n\n*******
        This Lyrics is NOT for Commercial use *******\n(1409618832280)","script_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_js\/e_1\/sn_0\/l_19248072\/su_0\/rs_0\/tr_3vUCAP101Y_7z4bY1IEiaWXpvDUdc-LX1mujA6XgD96vg-bun3A19Y5dvMCxBrQSEIjHFKDjKwW1otVlxB98ghIVRY-SW4CyozUW5GhgOTd3ScDTG8PapVis0avawn7yQa_HoHDZw-1yiP-3YL4y8glfMgs9-CNMJ0EHLsH5UrbuhJE0nuS5pleHEJqP302SpL_JHKZVCEK-O5BMJrJseb7KDG2yEALyeVYSyJnqTyh_1SVP7wRk9k8ZNJs9tey63xvykRNwtyoTiF9iaJmNNbnV_o28M25ADXZ1lcB6FJhgikQ0yv84YNoUzPnP8FxRIkU0Chp5F8Ipr10oU0zyVkXf0W_d2ol1cfWVVxIGiwAswOR9HhSNf6fpDI9FYpVabm_lPVuk5E1zw_ckPCJYuLp-cChKjlHvAQyKG_nY4pjbmMG05iKMHcL5bLvuN7-n-jvFmWk2vKjvuKHIPw\/","pixel_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_img\/e_1\/sn_0\/l_19248072\/su_0\/rs_0\/tr_3vUCADO12-TRSMb_rHH68YxT15RTDgzBp4l3rMVsMy0hfCRPW-0IhRxa_-9XIMce2mlcH9CBdcNvFel_W7H_JSTK1jzW1UVWbw6KirZKJ_eFw7Yjg42sdOhAH85HPnlnBHjZoWu1MzawpRr_lW0sz_mDp7npO-QuLADKIakNtQyl847ZLtisbPh-Qfc0KhE-7KprWMWJdFHwFN33upfLofVHZv03SnMOmvxFqOhryL8HXSnuKQEpdmXcJCyLri_p3haUVrvhKCvBzd-U1irx37wEOOSH3z318HSTs2aL1aMqjZeAkciAhlMpQaHc-YUc0DiQ8emN0otpl5GKe4i64MC5RCiU-_mj4TuQCsdj-k9DW43wOXTE5O4mjAwO-DuYcTDTIyeJWYnUr4nZ0dg9bxxuZbbI9jrXnSSMvV7UY2E2wTOCxwAU942UYTktLgBgA0GN4FIC3z6crmcdjw\/","lyrics_copyright":"Lyrics
        powered by www.musixmatch.com. This Lyrics is NOT for Commercial use and only
        30% of the lyrics are returned.","updated_time":"2019-07-01T15:15:58Z"}}}}'
  recorded_at: Thu, 09 Jan 2020 03:31:59 GMT
- request:
    method: post
    uri: https://api.us-south.tone-analyzer.watson.cloud.ibm.com/instances/<WATSON_INSTANCE>/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: |-
        Blue Jean Baby
        L.A. Lady, seamstress for the band
        Pretty eyed, pirate smile
        You'll marry a music man

        Ballerina, you must have seen her
        Dancing in the sand
        Now she's in me, always with me
        Tiny dancer in my hand

        Jesus freaks, out in the street
        Handing tickets out for God
        Turning back, she just laughs
        The boulevard is not that bad

        Piano man he makes his stand
        In the auditorium
        Looking on, she sings the songs
        The words she knows, tune she hums

        ...(1409618832280)
    headers:
      Authorization:
      - Basic YXBpa2V5OjhNSjVBcGI0cnBtQ0ZQMGdDNlF1QUdrOEZlNWNrejBjVlRrb0RzRWhjUjhE
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service-Api-Version:
      - null; 2017-09-21
      X-Service-Build-Number:
      - '2020-01-06T06:04:45'
      Content-Language:
      - en-US
      X-Global-Transaction-Id:
      - c6043dbd5105f9101fa81dd398b6e55e
      X-Dp-Watson-Tran-Id:
      - c6043dbd5105f9101fa81dd398b6e55e
      X-Edgeconnect-Midmile-Rtt:
      - '28'
      X-Edgeconnect-Origin-Mex-Latency:
      - '488'
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tones":[{"score":0.854435,"tone_id":"joy","tone_name":"Joy"}]},"sentences_tone":[{"sentence_id":0,"text":"Blue
        Jean Baby","tones":[{"score":0.625173,"tone_id":"joy","tone_name":"Joy"}]},{"sentence_id":1,"text":"L.A.
        Lady, seamstress for the band","tones":[]},{"sentence_id":2,"text":"Pretty
        eyed, pirate smile","tones":[{"score":0.917464,"tone_id":"joy","tone_name":"Joy"},{"score":0.984352,"tone_id":"tentative","tone_name":"Tentative"}]},{"sentence_id":3,"text":"You''ll
        marry a music man","tones":[{"score":0.746306,"tone_id":"joy","tone_name":"Joy"}]},{"sentence_id":4,[...]
[...]
