---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/chart.tracks.get?apikey=<MUSIX_MATCH_TOKEN>&f_has_lyrics=true&page=2&page_size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.0080931186676025},"body":{"track_list":[{"track":{"track_id":177501051,"track_name":"Dance
        Monkey","track_name_translation_list":[],"track_rating":100,"commontrack_id":95351184,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":5831,"album_id":33595264,"album_name":"The
        Kids Are Coming","artist_id":37843472,"artist_name":"Tones and I","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Tones-and-I\/Dance-Monkey?utm_source=application&utm_campaign=api&utm_medium=babslabs%3A1409618830612","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/Tones-and-I\/Dance-Monkey\/edit?utm_source=application&utm_campaign=api&utm_medium=babslabs%3A1409618830612","restricted":0,"updated_time":"2019-08-29T13:37:16Z","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":20,"music_genre_parent_id":34,"music_genre_name":"Alternative","music_genre_name_extended":"Alternative","music_genre_vanity":"Alternative"}}]}}}]}}}'
  recorded_at: Thu, 09 Jan 2020 22:36:24 GMT
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.lyrics.get?apikey=<MUSIX_MATCH_TOKEN>&track_id=177501051
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.055413961410522},"body":{"lyrics":{"lyrics_id":19599173,"explicit":0,"lyrics_body":"They
        say \"Oh my god I see the way you shine\"\nTake your hand, my dear, and place
        them both in mine\nYou know you stopped me dead when I was passing by\nAnd
        now I beg to see you dance just one more time\n\nOoh I see you, see you, see
        you every time\nAnd oh my I, I like your style\nYou, you make me, make me,
        make me wanna cry\nAnd now I beg to see you dance just one more time\n\nSo
        I say\nDance for me, dance for me, dance for me oh oh oh\nI''ve never seen
        anybody do the things you do before\nThey say move for me, move for me, move
        for me ay ay ay\nAnd when you''re done I''ll make you do it all again\n\nI
        said oh my god I see you walking by\nTake my hands, my dear, and look me in
        my eyes\n...\n\n******* This Lyrics is NOT for Commercial use *******\n(1409618830612)","script_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_js\/e_1\/sn_0\/l_19599173\/su_0\/rs_0\/tr_3vUCAFWGUqYpEFHytfnFW-OPpnlcKtP7HNhu5z9t2q-wtSLq_2TFVclwdWgHtm6kSgp4HWwU_vI2fS6RYZLFy9o6b8PxNDDamJ0kFGsOu3IjUgzVjxXK6ubhp0FOLcKN2-UByjulafM5mUFLVFazrRbTFyqQbkJgcG2BjOV_sn5PZCTQMtSaqa17mjujbgP0-rfIx18XMlecxMa5GQmtatV351IHmMgINQHOwq8RLpoKQqX4MRKleQC0rXFM_Eum1ub9n93c6TiEtJplXf-f8NjAqsaDMYbRirrcykdBqEUOZuNKOlhJ_Vj7YVDC_Qm0lPILXgv6I8cyHhrj6LgzeWO90hXdhKkLYlcc4EpG_DlUiXUBdk83mGgeTntp28GuQKT_3qOin1Iu-TdKc6rkmg60y5ASpGXp3NbOCcE6MM4uaZ4KoNSXaJ9T02-Vzc4cfj8dAbkYbHA\/","pixel_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_img\/e_1\/sn_0\/l_19599173\/su_0\/rs_0\/tr_3vUCAH_18hmcvprO1XUG1jqOK6ZJRmmL-qOYptgON17r7PGMfeJNdl4Jt4wx9yXBX1hs6zZ3BLvO1C04cemusSanvJcFDt_PjndRO6x2FL3ruFEPJ-kfgomd1X0hY2t9sV-j6HEiJsJalBZDu-DNKb7eI2HQb6KE1r8zU0D_yWl1J3sBc_p1zkg8yO8QZVZSHvoQ7JDaipS2vD9xkMUJoVHNUdeLsYnuh985NQ3mvVLLdrdCKvm0Dezr-NTBeazb1_f8igNfRJW65ORiKVE1f6-UHc0NhQwH2FXccNI6GBx3pX6ZZEBb0bcxIPF_SVOe2naB6HOCaW5S-EZpmKXiSjYml3lMZgNvqtMR1JL1Bt5IA2rlmqgj-C8_H7UvzJnwhVhaTTutscJRyGlyMF7WqH1aEK8s5lns_mF9ns9rpfU0CdIGOka1pcWTTV2iaoOCYnMz_gQ7Ve8\/","lyrics_copyright":"Lyrics
        powered by www.musixmatch.com. This Lyrics is NOT for Commercial use and only
        30% of the lyrics are returned.","updated_time":"2019-08-29T13:37:16Z"}}}}'
  recorded_at: Thu, 09 Jan 2020 22:36:25 GMT
- request:
    method: post
    uri: https://api.us-south.tone-analyzer.watson.cloud.ibm.com/instances/<WATSON_INSTANCE>/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: |-
        They say "Oh my god I see the way you shine"
        Take your hand, my dear, and place them both in mine
        You know you stopped me dead when I was passing by
        And now I beg to see you dance just one more time

        Ooh I see you, see you, see you every time
        And oh my I, I like your style
        You, you make me, make me, make me wanna cry
        And now I beg to see you dance just one more time

        So I say
        Dance for me, dance for me, dance for me oh oh oh
        I've never seen anybody do the things you do before
        They say move for me, move for me, move for me ay ay ay
        And when you're done I'll make you do it all again

        I said oh my god I see you walking by
        Take my hands, my dear, and look me in my eyes
        ...(1409618830612)
    headers:
      Authorization:
      - Basic YXBpa2V5OnFCTnA0c3pKcEdnSDVlcDl3MXB5NWdhNV9DWjZUamlTSGtaTWdHalFlWmxi
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service-Api-Version:
      - null; 2017-09-21
      X-Service-Build-Number:
      - '2020-01-06T06:04:45'
      Content-Language:
      - en-US
      X-Global-Transaction-Id:
      - 139d0c4f6912d793c812d7164577ff6c
      X-Dp-Watson-Tran-Id:
      - 139d0c4f6912d793c812d7164577ff6c
      X-Edgeconnect-Midmile-Rtt:
      - '19'
      X-Edgeconnect-Origin-Mex-Latency:
      - '772'
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tones":[{"score":0.500783,"tone_id":"joy","tone_name":"Joy"}]},"sentences_tone":[{"sentence_id":0,"text":"They
        say \"Oh my god I see the way you shine\"","tones":[{"score":0.510734,"tone_id":"joy","tone_name":"Joy"}]},{"sentence_id":1,"text":"Take
        your hand, my dear, and place them both in mine","tones":[]},{"sentence_id":2,"text":"You
        know you stopped me dead when I was passing by","tones":[{"score":0.643279,"tone_id":"sadness","tone_name":"Sadness"},{"score":0.653099,"tone_id":"analytical","tone_name":"Analytical"}]},{"sentence_id":3,"text":"And
        now I beg to see yo[...]
