---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/chart.tracks.get?apikey=<MUSIX_MATCH_TOKEN>&f_has_lyrics=true&page=1&page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.24402594566345},"body":{"track_list":[{"track":{"track_id":196403687,"track_name":"Stuck
        With U (with Justin Bieber)","track_name_translation_list":[],"track_rating":100,"commontrack_id":110409326,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":298,"album_id":37959199,"album_name":"Stuck
        with U","artist_id":45255120,"artist_name":"Ariana Grande feat. Justin Bieber","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Ariana-Grande-Justin-Bieber\/Stuck-With-U-with-Justin-Bieber?utm_source=application&utm_campaign=api&utm_medium=babslabs%3A1409618905462","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/Ariana-Grande-Justin-Bieber\/Stuck-With-U-with-Justin-Bieber\/edit?utm_source=application&utm_campaign=api&utm_medium=babslabs%3A1409618905462","restricted":0,"updated_time":"2020-05-13T21:51:07Z","primary_genres":{"music_genre_list":[]}}},{"track":{"track_id":196414475,"track_name":"GOOBA","track_name_translation_list":[],"track_rating":100,"commontrack_id":110414667,"instrumental":0,"explicit":1,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":125,"album_id":37962159,"album_name":"GOOBA
        - Single","artist_id":34330242,"artist_name":"6ix9ine","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/6IX9INE\/GOOBA?utm_source=application&utm_campaign=api&utm_medium=babslabs%3A1409618905462","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/6IX9INE\/GOOBA\/edit?utm_source=application&utm_campaign=api&utm_medium=babslabs%3A1409618905462","restricted":0,"updated_time":"2020-05-10T16:08:46Z","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":1072,"music_genre_parent_id":18,"music_genre_name":"Hardcore
        Rap","music_genre_name_extended":"Hip Hop\/Rap \/ Hardcore Rap","music_genre_vanity":"Hip-Hop-Rap-Hardcore-Rap"}}]}}},{"track":{"track_id":194169151,"track_name":"Blinding
        Lights","track_name_translation_list":[],"track_rating":100,"commontrack_id":104185748,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":3687,"album_id":37216011,"album_name":"After
        Hours","artist_id":13937035,"artist_name":"The Weeknd","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/The-Weeknd-3\/Blinding-Lights?utm_source=application&utm_[...]
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.lyrics.get?apikey=<MUSIX_MATCH_TOKEN>&track_id=196403687
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.035935878753662},"body":{"lyrics":{"lyrics_id":21746573,"explicit":0,"lyrics_body":"Mmm\nHey,
        yeah\n(That''s just for fun)\n(What?)\nAh\n\nI''m not one to stick around\nOne
        strike and you''re out, baby\nDon''t care if I sound crazy\nBut you never
        let me down, no, no\nThat''s why when the sun''s up, I''m stayin''\nStill
        layin'' in your bed, sayin''\n\nOoh, ooh, ooh, ooh (Ooh)\nGot all this time
        on my hands\nMight as well cancel our plans, yeah\nI could stay here for a
        lifetime\n\nSo, lock the door and throw out the key\nCan''t fight this no
        more, it''s just you and me\nAnd there''s nothin'' I, nothin'' I, I can do\nI''m
        stuck with you, stuck with you, stuck with you\n...\n\n******* This Lyrics
        is NOT for Commercial use *******\n(1409618905462)","script_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_js\/e_1\/sn_0\/l_21746573\/su_0\/rs_0\/tr_3vUCAEm5DqaMYCKPm9yhlQXV8oIoy7okFm-qJmc5sgI4vsCWc8Dqr9KXf964mez_PYs8XN8Tz283gHlrAA3dCZkN2l1EXOM0wcnRm-86VVzjc3S2jJPVoWY49TuFJ_kjagAy3GvgM14FeXJOHkqENePkMPn2i__Pd1SmT7PmxHcZNfJvMY6_1Mg6h0Fpx4R46kft5n_PfLwIp0p2DYJjVUEfKR40T4XQALjHPWhKcELb5IYv1YtESVWuSHSIRDS7lHE8yjUS_XIrXxLYcm6P7374DWg1590MY1Lt5m99WnrTYF987exjVbYl6nPEGzxdRm4k0OYm-d_GQ4nd5RS2wIs3k_LYwKKGQogWpf_tZONexB3eLASnSQlrCEjRF8hcZkhMnIZV8usOISiauqhZqWB7DHWd55SFIbUVo-ztxjROTRNLcITmP5TQ6zSc2dcBRvm6xz-d-u8sAriw_-jiPDCttCVgXZ8_36c7oP7uge613JfX3-0\/","pixel_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_img\/e_1\/sn_0\/l_21746573\/su_0\/rs_0\/tr_3vUCAH2FauqCFlNHj3HJQjRk3dws4OIPOStj1gStTDttB2-MwF4I1uaPFqSY0ZGY6zZjW91SqgTb-hrZskE5Ac4YVqTU3c5assaqNKIi6YoVEzSz60NkHM8E_VvIdP4MEa4YiseYQyi_QC3BaeIh5koEIxg3c1dXYo3OFhOHgCwwk7ckl_bcsjuLJW1TRRkIJBLwHB2ZOjfJ7L11bZR89tD2jdpZrFYDq0y8r9ocBPZav6oyCudTY2RolXTWY7ejzmUbGERwRuo2voQtslob8XeslF-M6D6X1m9iNL88Bjcg7P9jHB_b6ouDb9gDGHamb6Z1zQ210nh0VxfvVtzNMwtnzayzoArBQM5WYGH_rmJTENOMowUJFEGsEPmx1_OOpfbkpxJvPObZ35pM9XM7Cm1vPIIpaQpCHsFIaxz2nbK6sWroZugv6HBRJ1S4ZB1ALbtSIH-3_etM6al0TGgPyI4D-U-lKudw29kWvCr66etAk5RgyT8\/","lyrics_copyright":"Lyrics
        powered by www.musixmatch.com. This Lyrics is NOT for Commercial use and only
        30% of the lyrics are returned.","updated_time":"2020-05-13T21:51:07Z"}}}}'
  recorded_at: Thu, 14 May 2020 20:16:14 GMT
- request:
    method: post
    uri: https://api.us-east.tone-analyzer.watson.cloud.ibm.com/instances/<WATSON_INSTANCE>/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: |-
        Mmm
        Hey, yeah
        (That's just for fun)
        (What?)
        Ah

        I'm not one to stick around
        One strike and you're out, baby
        Don't care if I sound crazy
        But you never let me down, no, no
        That's why when the sun's up, I'm stayin'
        Still layin' in your bed, sayin'

        Ooh, ooh, ooh, ooh (Ooh)
        Got all this time on my hands
        Might as well cancel our plans, yeah
        I could stay here for a lifetime

        So, lock the door and throw out the key
        Can't fight this no more, it's just you and me
        And there's nothin' I, nothin' I, I can do
        I'm stuck with you, stuck with you, stuck with you
        ...(1409618905462)
    headers:
      Authorization:
      - Basic YXBpa2V5Om9wMVh3LTRPZmNjOTJWMlNjY2x1R1FRNGFPMGh0RXpOTU80a0pUQUJseno1
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service-Api-Version:
      - null; 2017-09-21
      X-Service-Build-Number:
      - '2020-04-27T05:01:52'
      Content-Language:
      - en-US
      X-Global-Transaction-Id:
      - def3c35199797b7c7cb4d242866ebd21
      X-Dp-Watson-Tran-Id:
      - def3c35199797b7c7cb4d242866ebd21
      X-Edgeconnect-Midmile-Rtt:
      - '19'
      X-Edgeconnect-Origin-Mex-Latency:
      - '311'
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tones":[{"score":0.786528,"tone_id":"tentative","tone_name":"Tentative"}]},"sentences_tone":[{"sentence_id":0,"text":"Mmm","tones":[]},{"sentence_id":1,"text":"Hey,
        yeah","tones":[]},{"sentence_id":2,"text":"(That''s just for fun)","tones":[{"score":0.880435,"tone_id":"joy","tone_name":"Joy"},{"score":0.984352,"tone_id":"tentative","tone_name":"Tentative"}]},{"sentence_id":3,"text":"(What?)","tones":[]},{"sentence_id":4,"text":"Ah","tones":[]},{"sentence_id":5,"text":"","tones":[]},{"sentence_id":6,"text":"I''m
        not one to stick around","tones":[{"score":0.946222,"tone_id":"tentative","tone_name[...]
[...]
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.lyrics.get?apikey=<MUSIX_MATCH_TOKEN>&track_id=1677921
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.034116983413696},"body":{"lyrics":{"lyrics_id":21665879,"explicit":0,"lyrics_body":"I
        read a note my grandma wrote\nBack in 1923\nGrandpa kept it in his coat\n\nAnd
        he showed it once to me\nHe said\nBoy you might not understand, but a long
        long time ago\nGrandma''s daddy didn''t like me none\n\nBut I loved your grandma
        so\nWe had this crazy plan to meet\nAnd run away together\nGet married in
        the first town we came to and live forever\n\nBut nailed to the tree where
        we were supposed to meet instead\nI found this letter\nAnd this is what it
        said:\n\n...\n\n******* This Lyrics is NOT for Commercial use *******\n(1409618905462)","script_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_js\/e_1\/sn_0\/l_21665879\/su_0\/rs_0\/tr_3vUCAC7q8nhaltncTHxL1ltwUln0OYIJsLL-73iH7fzGmQVj3cVZ-GsiBSik3sNb3WOaqkpGakCHEpHLoekibWN4fn43ftEIWDoDhOcJwKIOaoKL8afTzO8WDAI0Y6VaiZxqYEXPYDCk5BNNfs0KHiymOnXRCBDDWjTNeUIYTnFhkGtSrTN-LHb7WURRNk26Vk7PYqwIuQYqdIH8q9FzDRkVmqj75clLarxiCsynF6E7WsVpOxqs73AcOyhaLCNml6Wm03sSyEuGNJ7_I5g7qAjFO0wRm6fG2x0qCvyzlOzTJcnBFIUhtawEFnwLjehDk0CTVhot0-MXlhh4EAFJiiHEA9P2Is7bX5RtJZJKwfhFHlZi8Y6o2zqWfTRVj-zT0ZAZj2ie470uD2fEGRKEf6vUlpHs_XOb0Vkkg4knL2dL4-s3_uziyO00su5ISi8\/","pixel_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_img\/e_1\/sn_0\/l_21665879\/su_0\/rs_0\/tr_3vUCAMazhH4UPUBzniCS7Sib2Hrd_QSyKq880Bfsq4SEmOp_kpANwP1oZxjJKpmK1zz7NVL5w9ho4pAaPOgLosEsfaXwQqM8WssdK2uFTFZ6-zmDDeOC9Xi-YbAN9e6LHOJcq3npjAXuRsXOKJ8R8-6i_cWz3-w85Y3G0s7FtLvGCPuNJh0_J-v5W_ycHIC-q1RX6yWkUE0oKBskwniVZ9r4mC5rVrutsZfaf5bIpJufsx35SyzNNvmIW6pq7i-l3CoSweSBdsOIJsLJiJ341dXpFNSVX5EIaV6i2P4Y42ZtmAEjktzeJl57plXOtRooRkQqv2Lz1vH76MHIKvenTbOJZbmhUqjaU5dIwlE1KwSe4WtIYnhvM0tMzUpdnrlc0sc_2gDME6wUHqdN4iR4TSdALZ-pFPV0x0X5SpbOAvaVJis_PXGlf-iLwRNnp6Y\/","lyrics_copyright":"Lyrics
        powered by www.musixmatch.com. This Lyrics is NOT for Commercial use and only
        30% of the lyrics are returned.","updated_time":"2020-05-05T05:21:51Z"}}}}'
  recorded_at: Thu, 14 May 2020 20:17:56 GMT
[...]
