---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_API_TOKEN>&maxResults=1&order=relevance&part=snippet&q=Who%20Will%20Save%20Your%20Soul,%20Jewel&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"OOFf3Zw2jDbxxHsjJ3l8u1U8dz4/HH9ghjDLHCJNc8nl4aRzZD4QiAA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"OOFf3Zw2jDbxxHsjJ3l8u1U8dz4/HH9ghjDLHCJNc8nl4aRzZD4QiAA\"",
         "nextPageToken": "CAEQAA",
         "regionCode": "US",
         "pageInfo": {
          "totalResults": 1000000,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"OOFf3Zw2jDbxxHsjJ3l8u1U8dz4/BazV24ZGWgdZsXIa3ZBzhV25mU0\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "0wBDDAZkNtk"
           },
           "snippet": {
            "publishedAt": "2009-10-27T02:47:38.000Z",
            "channelId": "UCqny-wGJIaPfAkwPp_OlYKA",
            "title": "Jewel - Who Will Save Your Soul (Official Music Video)",
            "description": "\"Who Will Save Your Soul\" from the album 'Pieces Of You' - stream/download: https://Jewel.lnk.to/piecesofyou Subscribe to Jewel's channel: ...",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/0wBDDAZkNtk/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/0wBDDAZkNtk/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/0wBDDAZkNtk/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Jewel",
            "liveBroadcastContent": "none"
           }
          }
         ]
        }
  recorded_at: Fri, 10 Jan 2020 06:10:15 GMT
[...]
