---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_API_TOKEN>&maxResults=1&order=relevance&part=snippet&q=Purple%20Rain,%20Prince&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"OOFf3Zw2jDbxxHsjJ3l8u1U8dz4/BSlPdNeeeIQ-iul8AXbF18fNNM0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"OOFf3Zw2jDbxxHsjJ3l8u1U8dz4/BSlPdNeeeIQ-iul8AXbF18fNNM0\"",
         "nextPageToken": "CAEQAA",
         "regionCode": "US",
         "pageInfo": {
          "totalResults": 1000000,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"OOFf3Zw2jDbxxHsjJ3l8u1U8dz4/u1S1tNw7yFTix2agCXw3s6A4gNo\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "TvnYmWpD_T8"
           },
           "snippet": {
            "publishedAt": "2016-04-22T16:26:04.000Z",
            "channelId": "UCPzbKgAJ6gj0xMVgMHIV2gQ",
            "title": "Prince - Purple Rain (Official Video)",
            "description": "I do not own this video nor do I claim anything off it therefore I couldn't find the official video anywhere so here it is! Been listening to this song over the past ...",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/TvnYmWpD_T8/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/TvnYmWpD_T8/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/TvnYmWpD_T8/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "The Codfather",
            "liveBroadcastContent": "none"
           }
          }
         ]
        }
  recorded_at: Fri, 10 Jan 2020 06:54:12 GMT
[...]
