---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_API_TOKEN>&maxResults=1&order=relevance&part=snippet&q=Such%20Great%20Heights,%20Joy%20Kill%20Sorrow&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"OOFf3Zw2jDbxxHsjJ3l8u1U8dz4/8XnIhzOpJp5JGpe6oFgL8wIpkGY"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"OOFf3Zw2jDbxxHsjJ3l8u1U8dz4/8XnIhzOpJp5JGpe6oFgL8wIpkGY\"",
         "nextPageToken": "CAEQAA",
         "regionCode": "US",
         "pageInfo": {
          "totalResults": 18815,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"OOFf3Zw2jDbxxHsjJ3l8u1U8dz4/u2PQAwQM0yz2awMNbQHVIPiq7JQ\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "ZimjmYp_I3s"
           },
           "snippet": {
            "publishedAt": "2013-08-15T18:27:13.000Z",
            "channelId": "UCL1AS6MUf0iAqN-3okuVe5g",
            "title": "Joy Kills Sorrow - Such Great Heights - OFFICIAL VIDEO",
            "description": "Joy Kills Sorrow - \"Such Great Heights\" from the album Wide Awake, available now on Signature Sounds Recordings http://www.joykillssorrow video filmed and ...",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/ZimjmYp_I3s/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/ZimjmYp_I3s/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/ZimjmYp_I3s/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "JoyKillsSorrowMusic",
            "liveBroadcastContent": "none"
           }
          }
         ]
        }
  recorded_at: Fri, 10 Jan 2020 15:08:48 GMT
[...]
