---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.search?apikey=<MUSIX_MATCH_TOKEN>&f_artist_id=33491890&f_has_lyrics=true&page=1&page_size=5&s_track_rating=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.013334035873413,"available":791},"body":{"track_list":[{"track":{"track_id":18655045,"track_name":"Diamonds","track_name_translation_list":[{"track_name_translation":{"language":"JA","translation":"\u30c0\u30a4\u30e4\u30e2\u30f3\u30ba"}}],"track_rating":91,"commontrack_id":46513824,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":24212,"album_id":14267790,"album_name":"Unapologetic","artist_id":33491890,"artist_name":"Rihanna","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Rhianna\/Diamonds?utm_source=application&utm_campaign=api&utm_medium=babslabs%3A1409618905462","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/Rhianna\/Diamonds\/edit?utm_source=application&utm_campaign=api&utm_medium=babslabs%3A1409618905462","restricted":0,"updated_time":"2017-04-28T14:15:27Z","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":14,"music_genre_parent_id":34,"music_genre_name":"Pop","music_genre_name_extended":"Pop","music_genre_vanity":"Pop"}}]}}},{"track":{"track_id":97315475,"track_name":"Love
        on the Brain","track_name_translation_list":[{"track_name_translation":{"language":"JA","translation":"\u30e9\u30f4\u30fb\u30aa\u30f3\u30fb\u30b6\u30fb\u30d6\u30ec\u30a4\u30f3"}}],"track_rating":90,"commontrack_id":53788034,"instrumental":0,"explicit":1,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":14778,"album_id":21809511,"album_name":"ANTI","artist_id":33491890,"artist_name":"Rihanna","track_share_url":"h[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_API_TOKEN>&maxResults=1&order=relevance&part=snippet&q=Diamonds,%20Rihanna&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "B7tN0lj3e7fHPvIsxhqimhrGVEY",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 1000000,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "DQo2o-d-uiDPApCU5myorePZVec",
              "id": {
                "kind": "youtube#video",
                "videoId": "lWA2pjMjpBs"
              },
              "snippet": {
                "publishedAt": "2012-11-09T00:18:50Z",
                "channelId": "UC2xskkQVFEpLcGFnNSLQY0A",
                "title": "Rihanna - Diamonds",
                "description": "Get Rihanna's eighth studio album ANTI now: Download on TIDAL: http://smarturl.it/downloadANTI Stream on TIDAL: http://smarturl.it/streamANTIdlx Download ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/lWA2pjMjpBs/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/lWA2pjMjpBs/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/lWA2pjMjpBs/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "RihannaVEVO",
                "liveBroadcastContent": "none",
                "publishTime": "2012-11-09T00:18:50Z"
              }
            }
          ]
        }
  recorded_at: Thu, 14 May 2020 20:15:27 GMT
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.lyrics.get?apikey=<MUSIX_MATCH_TOKEN>&track_id=18655045
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.027509927749634},"body":{"lyrics":{"lyrics_id":14632566,"explicit":0,"lyrics_body":"Shine
        bright like a diamond\nShine bright like a diamond\n\nFind light in the beautiful
        sea\nI choose to be happy\nYou and I, you and I\n\nWe''re like diamonds in
        the sky\nYou''re a shooting star I see\nA vision of ecstasy\nWhen you hold
        me, I''m alive\n\nWe''re like diamonds in the sky\nI knew that we''d become
        one right away\nOh, right away\nAt first sight I felt the energy of sun rays\n\nI
        saw the life inside your eyes\nSo shine bright, tonight you and I\nWe''re
        beautiful like diamonds in the sky\nEye to eye, so alive\n\nWe''re beautiful
        like diamonds in the sky\nShine bright like a diamond\nShine bright like a
        diamond\n...\n\n******* This Lyrics is NOT for Commercial use *******\n(1409618905462)","script_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_js\/e_1\/sn_0\/l_14632566\/su_0\/rs_0\/tr_3vUCAEPsP4n7VCi23xStm55Rkw5hqk7_VxIdpPkr4jJgDxQjK0MiXvcpbpFuG0KcoZKaxpSERNERyGoQncX4CoWeIgyIuvN32cbtNS22TkokmLtGmQcPCfKRC9SYo2xojZRTV8NbSSEy3Cf-muC1Rqb3eOceOAsdrGS1Z09JD_YKTQqVUXksjdN7eUbHF2V-WgoFK4PUQ-vkJyc59pbZdux0468RG4rQ6_V9ArVnI2MG_bPnP_Q2btXJf6tOm-OJA-AYe6N8LDycGwPUcjFd6I7ozE4Udvte66iG3LC6VWenoxGX_gu9yLKTKiXY-eh_WA15Di1WauHmwxY_GzvuX-Kd66k5TSgsCiVYNBxLoA2rIIKL_lxdMlJQL25BJMCv9cEpnHBdVtRE2CRWebaTQtT4uYzxrUQDeEv02vjLMPonlsrH0nz8zmNUQEvdoA\/","pixel_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_img\/e_1\/sn_0\/l_14632566\/su_0\/rs_0\/tr_3vUCAAGS7LF_JG28YHpQUFb-I4phb2JMxnxQd4TqoRvZcec5qV8e0JeeBZOyHpHVlID1jNxK-ZLT8ex0LyBJCOTLyUdlFk_rffC0qLPtFNAq0uu5QHb2NLECUR7B2VzDFkSo4GF2CLcL2Cbo7VcM8Fb8G3PbbKolHbl6nNP3tt4cXo6PwsBO1yphMxVQdMcMUGpqetrRXOvyDSNWEQ24C-4WylKOrXDDfw0NPwAct1V6Mir76qznPl4KB-WZ3KOAcp0smfSsfGB109TnrA5F7jkaLdKSDH5sk4Jt-gty63BPa3jdJqp2RwNiEEAQjX3TVSQTga1yjaEMNtiHkB4pJsn0SPB63-_opcfcvmOKToKroqhUyiGB2uObLaXfLFUWyIWhPN8xo1Empha-VBEYEYKIEn_zO643b07718o8IrkKeaoXclJvcn7Fn1NCcA\/","lyrics_copyright":"Lyrics
        powered by www.musixmatch.com. This Lyrics is NOT for Commercial use and only
        30% of the lyrics are returned.","updated_time":"2019-03-13T11:57:44Z"}}}}'
  recorded_at: Thu, 14 May 2020 20:15:27 GMT
- request:
    method: post
    uri: https://api.us-east.tone-analyzer.watson.cloud.ibm.com/instances/<WATSON_INSTANCE>/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: |-
        Shine bright like a diamond
        Shine bright like a diamond

        Find light in the beautiful sea
        I choose to be happy
        You and I, you and I

        We're like diamonds in the sky
        You're a shooting star I see
        A vision of ecstasy
        When you hold me, I'm alive

        We're like diamonds in the sky
        I knew that we'd become one right away
        Oh, right away
        At first sight I felt the energy of sun rays

        I saw the life inside your eyes
        So shine bright, tonight you and I
        We're beautiful like diamonds in the sky
        Eye to eye, so alive

        We're beautiful like diamonds in the sky
        Shine bright like a diamond
        Shine bright like a diamond
        ...(1409618905462)
    headers:
      Authorization:
      - Basic YXBpa2V5Om9wMVh3LTRPZmNjOTJWMlNjY2x1R1FRNGFPMGh0RXpOTU80a0pUQUJseno1
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service-Api-Version:
      - null; 2017-09-21
      X-Service-Build-Number:
      - '2020-04-27T05:01:52'
      Content-Language:
      - en-US
      X-Global-Transaction-Id:
      - 010a300b1809e3b3da8962f348685fa5
      X-Dp-Watson-Tran-Id:
      - 010a300b1809e3b3da8962f348685fa5
      X-Edgeconnect-Midmile-Rtt:
      - '18'
      X-Edgeconnect-Origin-Mex-Latency:
      - '291'
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tones":[{"score":0.927359,"tone_id":"joy","tone_name":"Joy"},{"score":0.840028,"tone_id":"tentative","tone_name":"Tentative"}]},"sentences_tone":[{"sentence_id":0,"text":"Shine
        bright like a diamond","tones":[{"score":0.854634,"tone_id":"joy","tone_name":"Joy"},{"score":0.822231,"tone_id":"tentative","tone_name":"Tentative"}]},{"sentence_id":1,"text":"Shine
        bright like a diamond","tones":[{"score":0.854634,"tone_id":"joy","tone_name":"Joy"},{"score":0.822231,"tone_id":"tentative","tone_name":"Tentative"}]},{"sentence_id":2,"text":"","tones":[]},{"sentence_id":3,"text":"Find
        light in the beautiful sea","tones":[{"score":0.896954,"tone_id":[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_API_TOKEN>&maxResults=1&order=relevance&part=snippet&q=Love%20on%20the%20Brain,%20Rihanna&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse"[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_API_TOKEN>&maxResults=1&order=relevance&part=snippet&q=Umbrella,%20Rihanna&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "et[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_API_TOKEN>&maxResults=1&order=relevance&part=snippet&q=Needed%20Me,%20Rihanna&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_API_TOKEN>&maxResults=1&order=relevance&part=snippet&q=Where%20Have%20You%20Been,%20Rihanna&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListRespons[...]
[...]
