---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.search?apikey=<MUSIX_MATCH_TOKEN>&f_artist_id=33491890&f_has_lyrics=true&page=1&page_size=5&s_track_rating=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.013556957244873,"available":778},"body":{"track_list":[{"track":{"track_id":97315475,"track_name":"Love
        on the Brain","track_name_translation_list":[{"track_name_translation":{"language":"JA","translation":"\u30e9\u30f4\u30fb\u30aa\u30f3\u30fb\u30b6\u30fb\u30d6\u30ec\u30a4\u30f3"}}],"track_rating":89,"commontrack_id":53788034,"instrumental":0,"explicit":1,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":14499,"album_id":21809511,"album_name":"ANTI","artist_id":33491890,"artist_name":"Rihanna","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Rhianna\/Love-On-The-Brain?utm_source=application&utm_campaign=api&utm_medium=babslabs%3A1409618830612","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/Rhianna\/Love-On-The-Brain\/edit?utm_source=application&utm_campaign=api&utm_medium=babslabs%3A1409618830612","restricted":0,"updated_time":"2019-11-20T18:41:17Z","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":34,"music_genre_parent_id":0,"music_genre_name":"Music","music_genre_name_extended":"Music","music_genre_vanity":"Music"}},{"music_genre":{"music_genre_id":14,"music_genre_parent_id":34,"music_genre_name":"Pop","music_genre_name_extended":"Pop","music_genre_vanity":"Pop"}}]}}},{"track":{"track_id":18655045,"track_name":"Diamonds","track_name_translation_list":[{"track_name_translation":{"language":"JA","translation":"\u30c0\u30a4\u30e4\u30e2\u30f3\u30ba"}}],"track_rating":88,"commontrack_id":46513824,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":23841,"albu[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_API_TOKEN>&maxResults=1&order=relevance&part=snippet&q=Love%20on%20the%20Brain,%20Rihanna&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"OOFf3Zw2jDbxxHsjJ3l8u1U8dz4/GJ-hE0tBi9aiKVvpH4gBvOTimaA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"OOFf3Zw2jDbxxHsjJ3l8u1U8dz4/GJ-hE0tBi9aiKVvpH4gBvOTimaA\"",
         "nextPageToken": "CAEQAA",
         "regionCode": "US",
         "pageInfo": {
          "totalResults": 1000000,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"OOFf3Zw2jDbxxHsjJ3l8u1U8dz4/gHqQkvNydvrZQQn7chrwliiEIA8\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "0RyInjfgNc4"
           },
           "snippet": {
            "publishedAt": "2016-06-26T13:24:36.000Z",
            "channelId": "UCuJt_oBsyBgq5d8JBJeJ8Vg",
            "title": "Rihanna - Love On The Brain",
            "description": "Get Rihanna's eighth studio album ANTI featuring Love On The Brain now: TIDAL: http://smarturl.it/downloadANTI iTunes: http://smarturl.it/i_dlx_ANTI Google ...",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/0RyInjfgNc4/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/0RyInjfgNc4/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/0RyInjfgNc4/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Lenn Beauty",
            "liveBroadcastContent": "none"
           }
          }
         ]
        }
  recorded_at: Fri, 10 Jan 2020 06:12:04 GMT
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.lyrics.get?apikey=<MUSIX_MATCH_TOKEN>&track_id=97315475
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.058525085449219},"body":{"lyrics":{"lyrics_id":19882601,"explicit":0,"lyrics_body":"And
        you got me like oh\nWhat you want from me?\n(What you want from me?)\nAnd
        tried to buy your pretty heart\nBut the price too high\n\nBaby you got me
        like oh\nYou love when I fall apart\n(Fall apart)\nSo you can put me together\nAnd
        throw me against the wall\n\nBaby you got me like ah, woo, ah\nDon''t you
        stop loving me\n(Loving me) Don''t quit loving me\n(Loving me) Just start
        loving me\n(Loving me)\n\nOh, and babe I''m fist fighting with fire\nJust
        to get close to you\nCan we burn something babe?\nAnd I''ll run for miles
        just to get a taste\n\n...\n\n******* This Lyrics is NOT for Commercial use
        *******\n(1409618830612)","script_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_js\/e_1\/sn_0\/l_19882601\/su_0\/rs_0\/tr_3vUCAGF2uylw9SyqGvRvhvtedmCBEu9Vr0YGYemiE0ycQ5_zFfe3oxLrrUVq4wsaFX6xhpaTz0yx_McCyzFck8FD6_-rGKG4BS7UAlFxjfrK1uitAgRzUhxNEiJHYKt5StpK3w8KxUl3uVFIhUDVQ240N2KgdwjMGhOCpZbnq1KOfCWPc3TJJxQ6DGK7osP5iaIciOre710k2MCp9jy3a9BmYeXStbe_QEO8MQ-YNYgRPr0mz-uXETRTpVep-1q8l3dcu2jA0AKU9DdgHtSq5p-XQs0-UKVqzRSbfGWHNHjRSN3TorWFn0lVYKGv6Ghe9uKrT_vfBnIFWRY4H_0ulPz1uaAm7b1Aky--ZZcG90IhUDSVJXadpmxcFCJ3PxYixyWXM-ZO6OfM4WPAWKsOZTz1kcS8LeHFhxHwSWtFU9CTrRrCkx294wS_MOFeKT-V0l5vu5-H6Y6w\/","pixel_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_img\/e_1\/sn_0\/l_19882601\/su_0\/rs_0\/tr_3vUCACmUAeykLTvrKVQ6pnsOjJKw1HbjV-dDU6jERBOUMc_KgcMaGzkDx94vl3javxKW_onfLt2gTQcbIs-LudZV68XT7m4ztk57yEUI_UJtYViRJqxQedTYRMdiPtr_gpKJarPcC0cptg7u2lb9ojzGF-lj3eJ3F9ZN12eN5lu8zbU6SP9ImnmyCfJEfu6l8JExnmtDZBiVUH3_SWLMRT95CtgR5sGlNqGg9h2i-o-31gBXX7d-2WceQi6ZDdPRK4B1eNajfiuxGoo1uqBAjY577YZJ_sXTroqZIKYwpcRkgaZ2U8Ri04TIv4jsfXlkzwn-rUau0OmLZGyfxbiWH-qx1eTblhPbaIEdMwalV9GYQ_TY7N3a3qxgUfoFuYu0A3Bz6x6XfSQmDTGHykUsQ7Tt5nZiJFT4X-v7cOim2Jnisvqtno6ojV1wErVLlOZYsYeFMFnxcHC9\/","lyrics_copyright":"Lyrics
        powered by www.musixmatch.com. This Lyrics is NOT for Commercial use and only
        30% of the lyrics are returned.","updated_time":"2019-10-29T09:02:30Z"}}}}'
  recorded_at: Fri, 10 Jan 2020 06:12:05 GMT
- request:
    method: post
    uri: https://api.us-south.tone-analyzer.watson.cloud.ibm.com/instances/<WATSON_INSTANCE>/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: |-
        And you got me like oh
        What you want from me?
        (What you want from me?)
        And tried to buy your pretty heart
        But the price too high

        Baby you got me like oh
        You love when I fall apart
        (Fall apart)
        So you can put me together
        And throw me against the wall

        Baby you got me like ah, woo, ah
        Don't you stop loving me
        (Loving me) Don't quit loving me
        (Loving me) Just start loving me
        (Loving me)

        Oh, and babe I'm fist fighting with fire
        Just to get close to you
        Can we burn something babe?
        And I'll run for miles just to get a taste

        ...(1409618830612)
    headers:
      Authorization:
      - Basic YXBpa2V5OnFPV1ZnN0NsNmRoa3hvZF9hUmRmTm1KUWMzTnU0SGI0dTRkNnRHcDZIWURT
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service-Api-Version:
      - null; 2017-09-21
      X-Service-Build-Number:
      - '2020-01-06T06:04:45'
      Content-Language:
      - en-US
      X-Global-Transaction-Id:
      - aed21ef04091ff328cbae0f4debda9c7
      X-Dp-Watson-Tran-Id:
      - aed21ef04091ff328cbae0f4debda9c7
      X-Edgeconnect-Midmile-Rtt:
      - '0'
      X-Edgeconnect-Origin-Mex-Latency:
      - '332'
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tones":[{"score":0.753776,"tone_id":"joy","tone_name":"Joy"},{"score":0.938054,"tone_id":"tentative","tone_name":"Tentative"}]},"sentences_tone":[{"sentence_id":0,"text":"And
        you got me like oh","tones":[{"score":0.75152,"tone_id":"tentative","tone_name":"Tentative"}]},{"sentence_id":1,"text":"What
        you want from me?","tones":[{"score":0.916667,"tone_id":"sadness","tone_name":"Sadness"}]},{"sentence_id":2,"text":"(What
        you want from me?)","tones":[{"score":0.916667,"tone_id":"sadness","tone_name":"Sadness"}]},{"sentence_id":3,"text":"And
        tried to buy your pretty heart","tones":[{"score":0.548329,"tone_id":"joy","tone_name":"Joy"},{[...]
[...]
