---
http_interactions:
- request:
    method: post
    uri: https://api.us-south.tone-analyzer.watson.cloud.ibm.com/instances/d29eb007-48e5-41e3-bf11-cd8b414680d0/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: |-
        No clouds in my stones
        Let it rain, I hydroplane in the bank (eh, eh, eh)
        Coming down with the Dow Jones
        When the clouds come, we gone, we Roc-A-Fella (eh, eh, eh, eh)
        We fly higher than weather, in G5's or better
        You know me
        In anticipation for precipitation stack chips for the rainy day (eh, eh, eh)
        Jay, Rain Man is back (eh, eh, eh)
        With little Ms. Sunshine, Rihanna, where you at?

        You have my heart
        And we'll never be worlds apart
        May be in magazines
        But you'll still be my star
        Baby, 'cause in the dark
        You can't see shiny cars
        And that's when you need me there
        With you I'll always share

        Because
        When the sun shine, we shine together
        Told you I'll be here forever
        Said I'll always be your friend
        Took an oath, I'mma stick it out to the end
        Now that it's raining more than ever
        Know that we'll still have each other
        You can stand under my umbrella
        You can stand under my umbrella

        Ella, ella, eh, eh, eh
        Under my umbrella
        Ella, ella, eh, eh, eh
    headers:
      Authorization:
      - Basic YXBpa2V5OjhNSjVBcGI0cnBtQ0ZQMGdDNlF1QUdrOEZlNWNrejBjVlRrb0RzRWhjUjhE
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service-Api-Version:
      - null; 2017-09-21
      X-Service-Build-Number:
      - '2020-01-06T06:04:45'
      Content-Language:
      - en-US
      X-Global-Transaction-Id:
      - 155bfe3a69f3e6831ad033a173f58730
      X-Dp-Watson-Tran-Id:
      - 155bfe3a69f3e6831ad033a173f58730
      X-Edgeconnect-Midmile-Rtt:
      - '1'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1080'
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tones":[{"score":0.784809,"tone_id":"joy","tone_name":"Joy"},{"score":0.593306,"tone_id":"confident","tone_name":"Confident"}]},"sentences_tone":[{"sentence_id":0,"text":"No
        clouds in my stones","tones":[]},{"sentence_id":1,"text":"Let it rain, I hydroplane
        in the bank (eh, eh, eh)","tones":[]},{"sentence_id":2,"text":"Coming down
        with the Dow Jones","tones":[]},{"sentence_id":3,"text":"When the clouds come,
        we gone, we Roc-A-Fella (eh, eh, eh, eh)","tones":[]},{"sentence_id":4,"text":"We
        fly higher than weather, in G5''s or better","tones":[{"score":0.540654,"tone_id":"joy","tone_name":"Joy"},{"score":0.856622,"tone_id":"[...]
[...]
