---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/chart.tracks.get?apikey=<MUSIX_MATCH_TOKEN>&f_has_lyrics=true&page=2&page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.15903997421265},"body":{"track_list":[{"track":{"track_id":190591560,"track_name":"Godzilla
        (feat. Juice WRLD)","track_name_translation_list":[],"track_rating":99,"commontrack_id":105661600,"instrumental":0,"explicit":1,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":1435,"album_id":36300455,"album_name":"Music
        To Be Murdered By","artist_id":426,"artist_name":"Eminem","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Eminem-Juice-WRLD\/Godzilla-Juice-WRLD?utm_source=application&utm_campaign=api&utm_medium=babslabs%3A1409618905462","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/Eminem-Juice-WRLD\/Godzilla-Juice-WRLD\/edit?utm_source=application&utm_campaign=api&utm_medium=babslabs%3A1409618905462","restricted":0,"updated_time":"2020-02-21T08:31:06Z","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":34,"music_genre_parent_id":0,"music_genre_name":"Music","music_genre_name_extended":"Music","music_genre_vanity":"Music"}}]}}},{"track":{"track_id":196401053,"track_name":"So
        Will I","track_name_translation_list":[],"track_rating":91,"commontrack_id":110408341,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":3,"album_id":37958664,"album_name":"So
        Will I","artist_id":32862902,"artist_name":"Ben Platt","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Ben-Platt\/So-Will-I?utm_source=application&utm_campaign=api&utm_medium=babslabs%3A140961[...]
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.lyrics.get?apikey=<MUSIX_MATCH_TOKEN>&track_id=190591560
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.1779420375824},"body":{"lyrics":{"lyrics_id":20985008,"explicit":1,"lyrics_body":"Ugh,
        you''re a monster\n\nI can swallow a bottle of alcohol and I''ll feel like
        Godzilla\nBetter hit the deck like the card dealer\nMy whole squad''s in here,
        walkin'' around the party\nA cross between a zombie apocalypse and big Bobby\nThe
        Brain Heenan which is probably the\nSame reason I wrestle with mania\nShady''s
        in this bitch, I''m posse''d up\nConsider it to cross me a costly mistake\nIf
        they sleepin'' on me, the\nHoes better get insomnia, [...]
- request:
    method: post
    uri: https://api.us-east.tone-analyzer.watson.cloud.ibm.com/instances/<WATSON_INSTANCE>/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: |-
        Ugh, you're a monster

        I can swallow a bottle of alcohol and I'll feel like Godzilla
        Better hit the deck like the card dealer
        My whole squad's in here, walkin' around the party
        A cross between a zombie apocalypse and big Bobby
        The Brain Heenan which is probably the
        Same reason I wrestle with mania
        Shady's in this bitch, I'm posse'd up
        Consider it to[...]
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.lyrics.get?apikey=<MUSIX_MATCH_TOKEN>&track_id=196401053
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.035295963287354},"body":{"lyrics":{"lyrics_id":21692515,"explicit":0,"lyrics_body":"You
        say, \"What if I go crazy?\"\nI say, \"That ain''t gonna happen\"\nYou say,
        \"What if i get lost?\nI say, \"You''ll just find your way back\"\nAnd you
        say, \"What if someone breaks my heart?\"\nI''ll put it back together like
        I do\nYou say, \"What if I don''t catch the dreams\nThat I''ve been out there
        chasing?\"\n\"What If when my fears show up, I''m too afraid to face them?\"\nWell,
        I can''t fight your battles\nBut I sure can hold your hand and promise you\n\nThat
        the sky will still be up there\nAnd the sun will always shine\nThe stars will
        keep on fallin''\nFor the ones who wish at night\nThe mountains won''t start
        moving\nAnd the rivers won''t run dry\nThe world will always be there\nAnd
        so will I\n\n...\n\n******* This Lyrics is NOT for Commercial use *******\n(1409618905462)","script_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_js\/e_1\/sn_0\/l_21692515\/su_0\/rs_0\/tr_3vUCAJhrtJQQYpXXP-hng2nDdQtjFabKhvYoCjPRYVkCRlk5IOIru6_0Ajz9BvoZBqlvTu6ltSwPzEyBNiGKUih_cp7kBz5lPKxECKe-ZrVTpVdOW2bQxymkYhkH4GJH628T3iD5R8XM-X-Y_eTy784PJm7AZw663X6eMf_CxAeWFsCB9UCBHzbwDFhpM_g-5V96s0dTG3blhXifD8_lHEz-349FP9jSDxetcmF5hW5uRhQwexFG4JmK4aUkaMtz9jHt9TNu8atAVGyc3CPAmIlEWzH2h2h0HX0sRHiiVduIPe3mQ76-q8A27tP1KWVTw3qlT04dltXHk43nH6CkV3GtPzJ5AibuBiD0BRWxUgoCtXwmj18W6A3pjEZYObKPBoWfgsnA5Y3r-IhonWR1gN3mDU7H8XQMM9evULQAPmac5PwXgZ6H2VkOW5aDBT7GWAzAUrXO\/","pixel_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_img\/e_1\/sn_0\/l_21692515\/su_0\/rs_0\/tr_3vUCAP0OXDNZj0ZW2w0JNwLJW53nFDW5DWfWP8R2ef1roK523KyX2SByqv_ayaM3SYlZFyy6n6YcV1v4whNYb2giwLyC9VA3GX9oIrJIxhNeMrKA2jrO9muCR6gan3YHAuvMqwtJqPaD9dKJQLAfUy2oFhuGED5Ym8BeW4dyJTn_k4L-GD7gAKMQwar9t1EooveV4IOcZpz8gnn6Akb8BQ4cko1GTv-JBQ8RKjtN4jjoTKGc5hbGnAJhTDi1k2wLWdLd8N9LRdvS2E0-il-5YMmtoz-4Ok0xqOy9BPx3eShj_8zRuwV5fcjqgQoibRWDGvQZUIYubvpeTuzMNXcUt3xWMfYeUXbx2gQ_1t0Q0H_lkkMKvwWAnX1Wyizl3YiZY1JmDNC3lDsT1gCcv34u5DktsA6Of6KzbsKJJTdQfXRQgYDyyxSh5ewZ1ZN6tr5m_HHKgcFk\/","lyrics_copyright":"Lyrics
        powered by www.musixmatch.com. This Lyrics is NOT for Commercial use and only
        30% of the lyrics are returned.","updated_time":"2020-05-08T17:11:20Z"}}}}'
  recorded_at: Thu, 14 May 2020 20:13:21 GMT
- request:
    method: post
    uri: https://api.us-east.tone-analyzer.watson.cloud.ibm.com/instances/<WATSON_INSTANCE>/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: |-
        You say, "What if I go crazy?"
        I say, "That ain't gonna happen"
        You say, "What if i get lost?
        I say, "You'll just find your way back"
        And you say, "What if someone breaks my heart?"
        I'll put it back together like I do
        You say, "What if I don't catch the dreams
        That I've been out there chasing?"
        "What If when my fears show up, I'm too afraid to face them?"
        Well, I can't fight your battles
        But I sure can hold your hand and promise you

        That the sky will still be up there
        And the sun will always shine
        The stars will keep on fallin'
        For the ones who wish at night
        The mountains won't start moving
        And the rivers won't run dry
        The world will always be there
        And so will I

        ...(1409618905462)
    headers:
      Authorization:
      - Basic YXBpa2V5Om9wMVh3LTRPZmNjOTJWMlNjY2x1R1FRNGFPMGh0RXpOTU80a0pUQUJseno1
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service-Api-Version:
      - null; 2017-09-21
      X-Service-Build-Number:
      - '2020-04-27T05:01:52'
      Content-Language:
      - en-US
      X-Global-Transaction-Id:
      - 3fa10fe100a7bd44be25ad8044d57d8b
      X-Dp-Watson-Tran-Id:
      - 3fa10fe100a7bd44be25ad8044d57d8b
      X-Edgeconnect-Midmile-Rtt:
      - '34'
      X-Edgeconnect-Origin-Mex-Latency:
      - '347'
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tones":[{"score":0.689693,"tone_id":"fear","tone_name":"Fear"}]},"sentences_tone":[{"sentence_id":0,"text":"You
        say, \"What if I go crazy?\"","tones":[{"score":0.801827,"tone_id":"analytical","tone_name":"Analytical"}]},{"sentence_id":1,"text":"I
        say, \"That ain''t gonna happen\"","tones":[{"score":0.566117,"tone_id":"sadness","tone_name":"Sadness"}]},{"sentence_id":2,"text":"You
        say, \"What if i get lost?","tones":[{"score":0.696004,"tone_id":"sadness","tone_name":"Sadness"},{"score":0.801827,"tone_id":"analytical","tone_name":"Analytical"}]},{"sentence_id":3,"text":"I
      [...]
[...]
