---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/chart.tracks.get?apikey=<MUSIX_MATCH_TOKEN>&f_has_lyrics=true&page=2&page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.32095098495483},"body":{"track_list":[{"track":{"track_id":183423077,"track_name":"One
        Beer (feat. Lauren Alaina & Devin Dawson)","track_name_translation_list":[],"track_rating":24,"commontrack_id":100166543,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":0,"num_favourite":2,"album_id":34703163,"album_name":"HIXTAPE,
        Vol. 1","artist_id":36621136,"artist_name":"Hardy","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/HIXTAPE-feat-HARDY-Lauren-Alaina-Devin-Dawson\/One-Beer-HARDY-feat-Lauren-Alaina-Devin-Dawson?utm_source=application&utm_campaign=api&utm_medium=Code+Songs%3A1409618832280","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/HIXTAPE-feat-HARDY-Lauren-Alaina-Devin-Dawson\/One-Beer-HARDY-feat-Lauren-Alaina-Devin-Dawson\/edit?utm_source=application&utm_campaign=api&utm_medium=Code+Songs%3A1409618832280","restricted":0,"updated_time":"2019-12-14T02:39:39Z","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":34,"music_genre_parent_id":0,"music_genre_name":"Music","music_genre_name_extended":"Music","music_genre_vanity":"Music"}}]}}},{"track":{"track_id":149690468,"track_name":"Beautiful
        Crazy","track_name_translation_list":[],"track_rating":89,"commontrack_id":83262003,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":356,"album_id":28802670,"album_name":"This
        One\u2019s for You Too (Deluxe Edition)","artist_id":27658352,"artist_name":"Luke
        Combs","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Luke-Combs\/Beautiful-Crazy?utm_source[...]
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.lyrics.get?apikey=<MUSIX_MATCH_TOKEN>&track_id=183423077
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.066143989562988},"body":{"lyrics":{"lyrics_id":20100457,"explicit":0,"lyrics_body":"Seventeen
        in a small town\nWeak knees in a CVS\nDoor locked in the bathroom\nWhat''s
        it gonna be waitin'' on that test?\nNever thought that they''d be\nPuttin''
        those life plans on the shelf\nA couple American babies raisin'' one up their
        self\n\nOne beer turns into a lit cigarette burnin'' into a two beer buzz\nThree
        beers turns into five and six\nThen a love drunk kiss in the back of that
        truck\nJust like that everything rearranges\nLife changes out of the blue\nIt''s
        just a Bud Light, but ain''t it funny what one beer can turn into?\n\nSesame
        Street on the TV\nA race car rollin'' on a cardboard bridge\nCrayon stick
        figure family\n...\n\n******* This Lyrics is NOT for Commercial use *******\n(1409618832280)","script_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_js\/e_1\/sn_0\/l_20100457\/su_0\/rs_0\/tr_3vUCABM9ha4CuIIGcDnfALAp2Qx5EEnHlkptmFI4BpHEiuRihhWD5Ci5RRP_km-HmsymvxN6G2KXs9WzInGkqND4c7rjTHuRaGPfaaMqcxYKY7kxQBDtloC_kgb0zLsni5SCzQyCOuagDSn7avHm_ipyV6_od-A6oo91dhVCl5jAr1yD8q8lsItQ6JmsWt48_83U0eHbr5wPfIq1DDhj4NziC8G8uBqxr6GVjm7uC7tDcNU_RUS1zKEPEAuAwuDebN15e02u5vIrJoDhmeONA08wt9PHrx_spgakC_Dnge7T2URcB3v3TMTqdgRXajOsVtlXblvpl4D8CuXt5Xmq-1spxK4BoZbpQnu-ZRIpcRqDCQr9qAglE2JFEFHIJpUlwRhgZlwgbTsKSB5-gCWARXeIDVkviI7i1rR9PnS0vkx2OROM_nVz4czzMZxC8Area_4Go-2u23ZuSGPua10HD8ZqlkBgto-rJbYPHBRSKy1JoxyP\/","pixel_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_img\/e_1\/sn_0\/l_20100457\/su_0\/rs_0\/tr_3vUCAHIF4t2Gu0cxBrz9i4fuU-7-EZmIR30n5I3qGITPU66f_46ICjlBCeF95e_WaD7P9p0hj_uxhdEuZAf3q0pVRtA5LRQqpyLBzJYi2I2qGaNbtTK1TMximrV52LnXp5wm_OT-gN1GcfRq4W_wLs6yv3TEmTZWtZTGt_ut5Ecmodar9vaXeCjoKzTO7h8fZM-BxCEgRpm2pMJThcDOhESDFKEAdQvh78r8qsuAeyGTUiu-5o-HL7v9_RC-q-TQ-ijtXN-kODYc_1lpJbnj1ZKeHFmHVxTtiMgeB231AR8JQy9KX8zLggD_iOmBNGSiZhr-8q8-ZUJJ40BX998OITZMnfIAW9ZfAiKwVB8n_sJJSBXxrjL1Xuvkd0vCZH7xHkEEZv2zxDcTj79Ap96EaGjEoErbq9rqUNi8GfkYEudlHXFVZ-1YFTsp-v6zVwYOgsskNXJmhhZJ-ZFipdvaacVZ4G48FisoPtLswTKQMgedX1xT\/","lyrics_copyright":"Lyrics
        powered by www.musixmatch.com. This Lyrics is NOT for Commercial use and only
        30% of the lyrics are returned.","updated_time":"2019-12-14T02:39:38Z"}}}}'
  recorded_at: Thu, 09 Jan 2020 23:14:35 GMT
- request:
    method: post
    uri: https://api.us-south.tone-analyzer.watson.cloud.ibm.com/instances/<WATSON_INSTANCE>/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: |-
        Seventeen in a small town
        Weak knees in a CVS
        Door locked in the bathroom
        What's it gonna be waitin' on that test?
        Never thought that they'd be
        Puttin' those life plans on the shelf
        A couple American babies raisin' one up their self

        One beer turns into a lit cigarette burnin' into a two beer buzz
        Three beers turns into five and six
        Then a love drunk kiss in the back of that truck
        Just like that everything rearranges
        Life changes out of the blue
        It's just a Bud Light, but ain't it funny what one beer can turn into?

        Sesame Street on the TV
        A race car rollin' on a cardboard bridge
        Crayon stick figure family
        ...(1409618832280)
    headers:
      Authorization:
      - Basic YXBpa2V5OnFCTnA0c3pKcEdnSDVlcDl3MXB5NWdhNV9DWjZUamlTSGtaTWdHalFlWmxi
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service-Api-Version:
      - null; 2017-09-21
      X-Service-Build-Number:
      - '2020-01-06T06:04:45'
      Content-Language:
      - en-US
      X-Global-Transaction-Id:
      - d47a028cdcf2bbcb661374e740d44427
      X-Dp-Watson-Tran-Id:
      - d47a028cdcf2bbcb661374e740d44427
      X-Edgeconnect-Midmile-Rtt:
      - '17'
      X-Edgeconnect-Origin-Mex-Latency:
      - '751'
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tones":[{"score":0.660864,"tone_id":"tentative","tone_name":"Tentative"}]},"sentences_tone":[{"sentence_id":0,"text":"Seventeen
        in a small town","tones":[{"score":0.512022,"tone_id":"joy","tone_name":"Joy"}]},{"sentence_id":1,"text":"Weak
        knees in a CVS","tones":[]},{"sentence_id":2,"text":"Door locked in the bathroom","tones":[]},{"sentence_id":3,"text":"What''s
        it gonna be waitin'' on that test?","tones":[]},{"sentence_id":4,"text":"Never
        thought that they''d be","tones":[{"score":0.882284,"tone_id":"analytical","tone_name":"Analytical"}]},{"sentence_id":5,"text":"Puttin''
   [...]
[...]
- request:
    method: post
    uri: https://api.us-south.tone-analyzer.watson.cloud.ibm.com/instances/<WATSON_INSTANCE>/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic YXBpa2V5OnFCTnA0c3pKcEdnSDVlcDl3MXB5NWdhNV9DWjZUamlTSGtaTWdHalFlWmxi
      Content-Type:
      - text/plain
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Service-Api-Version:
      - null; 2017-09-21
      X-Service-Build-Number:
      - '2020-01-06T06:04:45'
      Content-Language:
      - en-US
      X-Global-Transaction-Id:
      - 661090dad43b334c2226fe5fda17ff54
      X-Dp-Watson-Tran-Id:
      - 661090dad43b334c2226fe5fda17ff54
      X-Edgeconnect-Midmile-Rtt:
      - '17'
      X-Edgeconnect-Origin-Mex-Latency:
      - '44'
    body:
      encoding: UTF-8
      string: '{"code":400,"sub_code":"C00007","error":"No text given"}'
  recorded_at: Thu, 09 Jan 2020 23:15:33 GMT
[...]
