---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/chart.tracks.get?apikey=<MUSIX_MATCH_TOKEN>&f_has_lyrics=true&page=2&page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.24952292442322},"body":{"track_list":[{"track":{"track_id":190255728,"track_name":"HIGHEST
        IN THE ROOM (feat. ROSAL\u00cdA & Lil Baby) - REMIX","track_name_translation_list":[],"track_rating":100,"commontrack_id":105495435,"instrumental":0,"explicit":1,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":112,"album_id":36261647,"album_name":"JACKBOYS","artist_id":43100473,"artist_name":"Travis
        Scott feat. ROSAL\u00cdA & Lil Baby","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Travis-Scott-ROSAL%C3%8DA-Lil-Baby\/HIGHEST-IN-THE-ROOM-ROSAL%C3%8DA-Lil-Baby-REMIX?utm_source=application&utm_campaign=api&utm_medium=babslabs%3A1409618830612","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/Travis-Scott-ROSAL%C3%8DA-Lil-Baby\/HIGHEST-IN-THE-ROOM-ROSAL%C3%8DA-Lil-Baby-REMIX\/edit?utm_source=application&utm_campaign=api&utm_medium=babslabs%3A1409618830612","restricted":0,"updated_time":"2019-12-27T11:41:15Z","primary_genres":{"music_genre_list":[]}}},{"track":{"track_id":183423077,"track_name":"One
        Beer (feat. Lauren Alaina & Devin Dawson)","track_name_translation_list":[],"track_rating":24,"commontrack_id":100166543,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":0,"num_favourite":2,"album_id":34703163,"album_name":"HIXTAPE,
        Vol. 1","artist_id":36621136,"artist_name":"Hardy","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/HIXTAPE-feat-HARDY-Lauren-Alaina-Devin-Dawson\/One-Beer-HARDY-feat-Lauren-Alaina-Devin-Dawson?utm_source=application&utm_campaign=api&utm_medium=babslabs%3A1409618830612","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/HIXTAPE-feat-HARDY-Lauren-Alaina-Devin-Dawson\/One-Beer-HARDY-feat-Lauren-Alaina-Devin-Dawson\/edit?utm_source=application&utm_campaign=api&utm_medium=babslabs%3A1409618830612","restricted":0,"updated_time":"2019-12-14T02:39:39Z","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":34,"music_genre_parent_id":0,"music_genre_name":"Music","music_genre_name_extended":"Music","music_genre_vanity":"Music"}}]}}},{"track":{"track_id":174824789,"track_name":"Heartache
        Medication","track_name_translation_list":[],"track_rating":87,"commontrack_id":95564425,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":34,"album_id":33167523,"album_name":"Heartache
        Medication","artist_id":14370875,"artist_name":"Jon Pardi","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/Jon-Pardi\/Heartache-Medication?utm_source=application&utm_campaign[...]
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/track.lyrics.get?apikey=<MUSIX_MATCH_TOKEN>&track_id=190255728
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.12434887886047},"body":{"lyrics":{"lyrics_id":20181403,"explicit":1,"lyrics_body":"Yeah,
        yeah, yeah, yeah\n\nI got room, in my fumes (Yeah)\nShe fill my mind up with
        ideas\nI''m the highest in the room (It''s lit)\nHope I make it outta here
        (Let''s go)\n\nShe saw my eyes, she know I''m gone (Ah)\nI see some things
        that you might fear\nI''m doin'' a show, I''ll be back soon (Soon)\nThat ain''t
        what she wanna hear (Nah)\n\nNow I got her in my room (Ah)\nLegs wrapped around
        my beard (Uh)\nGot the fastest car, it zoom (Zoom)\nHope we make it outta
        here\n\nWhen I''m with you, I feel alive\nYou say you love me, don''t you
        lie (Yeah)\nWon''t cross my heart, don''t wanna die\nKeep the pistol on my
        side (Yeah)\n\nCase it''s fumes\nShe fill my mind up with ideas (Straight
        up)\nI''m the highest in the room (It''s lit)\nHope I make it outta here (Let''s
        go)\n\nSu black Ferrari le doy gas (Uh)\nCaballos suenan con delay (''Lay)\n...\n\n*******
        This Lyrics is NOT for Commercial use *******\n(1409618830612)","script_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_js\/e_1\/sn_0\/l_20181403\/su_0\/rs_0\/tr_3vUCACcU5hjkTarAwWvKWqFIAD_baVorawhk713cBxlNa9OafCeQimNZlokZZS4bNu63laYap2RCzOat8jT3UzjZvoAS4oiINctUQ4E3bBu0tijwPNhekoZFSUxfEAOPutrRaS8TGY9fTrbXNNtDAJ_ENtEH2bwnPGuCnxO9nDu7loQ_AxapuQd2V0P2W6CVbxbCEL-EnB2YucFHW82i4P9bjB7d5gFtv6WJsI6p-wrIxEPXLcyjDbnFyjp4UUGYympvwa6V1TQgbo5eKXl9_6eUSqiyhZXIXYlnukQXw15hUQIZZ8jsAFQ23rK3aR4xEpv-rbPPlZows9H58w6c_ZAOw57vGzsY9436MbIGDaGReMa2V9z-3MOJq-yt3ujF_chRcZbtTBYT9jCjb7zxwBCdKTN5sAp0CB2vzwO7BfN1C9YDOlGRtfU-lSzOA8noczhdBjJUTy54N1YzvN3tRTcYrXJR1FwhiJ0vcp3VXquplK7dZxzbQ-LKPz7uJ5pNnnmijZh3_HSL3irgHlolDlpW_Yo\/","pixel_tracking_url":"https:\/\/tracking.musixmatch.com\/t1.0\/m_img\/e_1\/sn_0\/l_20181403\/su_0\/rs_0\/tr_3vUCACv9k-HNtcEmeQQZGHCX-LNXomqMDkQxeICKGg4Vc7P19HApSnh2LrdFWBfv659gnH6aeygLYT7y6rrzCYBtgLRs-Xv4bTbkJCLMKSvV1HgUdC-Tp9JK3a9ZOLRc-KcBsG9jJ6imDlUoQY9OXqal3SN1l7vAscivjk3bsmOAEyeHVcxTttXGfVuUKaIJfRdFYx2-5zmzpK4RahUsfiyJlUsAQlGTnbYuzrXiCKchpusllNrdsqqDBeT4wtyf0oSkHTSuc4v445l_y_PmnG54N_KQZ7JNY_baNZ6Rrx2uJGvrHSY3-Gm5BUhfYEPZXYcyKx2SXhLU2Udj1mhqS-k1ZM9aqCJBEfXhjQHnNIFQHX20CplcJBTe8lB3WDGSlyz1K8xF4QqcRZqEc9W-Mh7ILi8FUmsKD7gcc_qxqRi1peeTbJuGej_LGR6BqnZm5TckppIT1_ZQ16cgdQpwWJCwX9Xas7AhLJeAXrPymazDvPQF9PpppmFTWZrut_KLRMhP9b1CuNJlPL27JJUcW7OOcN4\/","lyrics_copyright":"Lyrics
        powered by www.musixmatch.com. This Lyrics is NOT for Commercial use and only
        30% of the lyrics are returned.","updated_time":"2019-12-27T11:41:14Z"}}}}'
  recorded_at: Thu, 09 Jan 2020 22:49:37 GMT
- request:
    method: post
    uri: https://api.us-south.tone-analyzer.watson.cloud.ibm.com/instances/<WATSON_INSTANCE>/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: |-
        Yeah, yeah, yeah, yeah

        I got room, in my fumes (Yeah)
        She fill my mind up with ideas
        I'm the highest in the room (It's lit)
        Hope I make it outta here (Let's go)

        She saw my eyes, she know I'm gone (Ah)
        I see some things that you might fear
        I'm doin' a show, I'll be back soon (Soon)
        That ain't what she wanna hear (Nah)

        Now I got her in my room (Ah)
        Legs wrapped around my beard (Uh)
        Got the fastest car, it zoom (Zoom)
        Hope we make it outta here

        When I'm with you, I feel alive
        You say you love me, don't you lie (Yeah)
        Won't cross my heart, don't wanna die
        Keep the pistol on my side (Yeah)

        Case it's fumes
        She fill my mind up with ideas (Straight up)
        I'm the highest in the room (It's lit)
        Hope I make it outta here (Let's go)

        Su black Ferrari le doy gas (Uh)
        Caballos suenan con delay ('Lay)
        ...(1409618830612)
    headers:
      Authorization:
      - Basic YXBpa2V5OnFCTnA0c3pKcEdnSDVlcDl3MXB5NWdhNV9DWjZUamlTSGtaTWdHalFlWmxi
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Service-Api-Version:
      - null; 2017-09-21
      X-Service-Build-Number:
      - '2020-01-06T06:04:45'
      Content-Language:
      - en-US
      X-Global-Transaction-Id:
      - 4fd94ec91ea6d9bf28d59a371aca2a6a
      X-Dp-Watson-Tran-Id:
      - 4fd94ec91ea6d9bf28d59a371aca2a6a
      X-Edgeconnect-Midmile-Rtt:
      - '17'
      X-Edgeconnect-Origin-Mex-Latency:
      - '360'
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tones":[{"score":0.847512,"tone_id":"tentative","tone_name":"Tentative"}]},"sentences_tone":[{"sentence_id":0,"text":"Yeah,
        yeah, yeah, yeah","tones":[]},{"sentence_id":1,"text":"","tones":[]},{"sentence_id":2,"text":"I
        got room, in my fumes (Yeah)","tones":[{"score":0.680923,"tone_id":"anger","tone_name":"Anger"}]},{"sentence_id":3,"text":"She
        fill my mind up with ideas","tones":[{"score":0.801827,"tone_id":"analytical","tone_name":"Analytical"}]},{"sentence_id":4,"text":"I''m
        the highest in the room (It''s lit)","tones":[]},{"sentence_id":5,"text":"Hope
        I make it outta[...]
[...]
- request:
    method: post
    uri: https://api.us-south.tone-analyzer.watson.cloud.ibm.com/instances/<WATSON_INSTANCE>/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic YXBpa2V5OnFCTnA0c3pKcEdnSDVlcDl3MXB5NWdhNV9DWjZUamlTSGtaTWdHalFlWmxi
      Content-Type:
      - text/plain
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Service-Api-Version:
      - null; 2017-09-21
      X-Service-Build-Number:
      - '2020-01-06T06:04:45'
      Content-Language:
      - en-US
      X-Global-Transaction-Id:
      - a0ba20a3e709d460aba906bedd3ef970
      X-Dp-Watson-Tran-Id:
      - a0ba20a3e709d460aba906bedd3ef970
      X-Edgeconnect-Midmile-Rtt:
      - '17'
      X-Edgeconnect-Origin-Mex-Latency:
      - '26'
    body:
      encoding: UTF-8
      string: '{"code":400,"sub_code":"C00007","error":"No text given"}'
  recorded_at: Thu, 09 Jan 2020 22:50:30 GMT
[...]
